In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import shutil

In [2]:
#sufixo="_ativos_mes_anterior"
sufixo=""
#sufixo=""

In [3]:
# TODO MUDAR QUANDO AS LOJAS TUMELERO DA 2a ONDA ENTRAREM
# Ondas Telhanorte e Tumelero cujas lojas serão consideradas para apuração
safra_tume=2 # Onda cujas lojas Tumelero serão consideradas
safra_telha=3 #  Onda cujas lojas Telhanorte serão consideradas

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
# Dictionary para extrair empresa
ID_UNN=4

dict_EMPRESAS={1:"TELHANORTE", 4:"TUMELERO"}
empresa=dict_EMPRESAS[ID_UNN]
print(ID_UNN)
print(empresa)

4
TUMELERO

In [6]:
# MÍNIMO NPS CONSIDERADO PARA ELEGIBILIDADE DA LOJA AO PRÊMIO COLETIVO TINA
NPS_ALVO=65

In [7]:
# Dia da apuração
hoje = pd.to_datetime('today').date()
#hoje = pd.to_datetime('2022-06-27')
ANO=str(hoje.year)

In [8]:
hoje.month

7

In [9]:
# DIA PADRÃO DE APURAÇÃO
#DIA_APURA=27
DIA_APURA=hoje.day

In [10]:
# Dias a serem considerados
MES_COMERCIAL=30 # MES COMERCIAL TEM 30 DIAS
MEIO_MES=int(MES_COMERCIAL/2.)

In [11]:
MESES= ['jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez']
I_MESES= ['01','02','03','04','05','06','07','08','09','10','11','12']
MES=MESES[hoje.month-1]
I_MES=I_MESES[MESES.index(MES)]
I_MES_ANTERIOR=I_MESES[MESES.index(MES)-1]

In [12]:
MES_ANTERIOR=MESES[MESES.index(MES)-1]
MES_ANTERIOR

'jun'

In [13]:
print('Como a apuração está sendo feita em '+MES+', a apuração coletiva será correspondente ao do mês anterior '+MES_ANTERIOR)

Como a apuração está sendo feita em jul, a apuração coletiva será correspondente ao do mês anterior jun

In [14]:
I_DIAS=pd.to_datetime(ANO+'-'+I_MES_ANTERIOR).days_in_month

In [15]:
print(str(I_DIAS)+' dias em '+MES_ANTERIOR)

30 dias em jun

In [16]:
# Período de Apuração   -   Faltas injustificadas no período
# Fevereiro de 2022
DATA_I = pd.to_datetime(ANO+'-'+I_MES_ANTERIOR+'-01', format='%Y/%m/%d')  # data inicial AAAA-MM-DD
DATA_F = pd.to_datetime(ANO+'-'+I_MES_ANTERIOR+'-'+str(I_DIAS), format='%Y/%m/%d')  # data final AAAA-MM-DD
print('Considerando ')
print('Data de início:')
print(DATA_I.date())
print('')
print('Data final:')
print(DATA_F.date())

Considerando
Data de início:
2022-06-01

Data final:
2022-06-30

In [17]:
# Diretório ou pasta base
#              DIRETORIO='C:/apuracao/'+empresa+'/'
#              print('Dentro da pasta '+DIRETORIO+' tem a pasta ano e mês? Se não crie como explicado a seguir.')

In [18]:
# PASTAS 

#DIR_BASE='C:/apuracao/'+empresa+'/'
#DIR_INFO='C:/apuracao/info/'
#DIR_TINA_BASES=DIR_INFO
#DIR_IN=DIR_BASE+ANO+'/'+MES+'/ORIGINAIS/'
# PASTA COM PLANILHA DE CHECAGEM PARA O ANALISTA DE NEGÓCIOS
#DIRETORIO_CHECAGEM=DIR_BASE+ANO+'/'+MES+'/CHECAGEM/'
# PASTAS 

DIR_BASE='C:/apuracao/'
DIR_INFO=DIR_BASE+'info/'
DIR_TINA_BASES=DIR_INFO
DIR_ENTRA=DIR_BASE+'ENTRADA/'
# PASTA PARA MANTER AS BASES ORIGINAIS
DIR_IN=DIR_BASE+ANO+'/'+MES+'/ORIGINAIS/'
# PASTA COM PLANILHA DE CHECAGEM PARA O ANALISTA DE NEGÓCIOS
DIRETORIO_CHECAGEM=DIR_BASE+ANO+'/'+MES+'/CHECAGEM/'
# PASTA PARA PLANILHAS DAS VERBAS PARA RH 
DIR_RH=DIR_BASE+ANO+"/"+MES+"/"+"para_RH/"
DIRETORIO_ANTERIOR=DIR_BASE+ANO+'/'+MES_ANTERIOR+'/'
print(DIRETORIO_ANTERIOR)

C:/apuracao/2022/jun/

In [19]:
#                  print(DIRETORIO)

In [20]:
#              DIRETORIO_ANTERIOR=DIRETORIO+ANO+'/'+MES_ANTERIOR+'/'
print(DIRETORIO_ANTERIOR)

C:/apuracao/2022/jun/

In [21]:
print('A apuração da premiação coletiva é correspondente ao mês anterior.')
print('Portanto, buscar arquivos do mês anterior na pasta:')
#                   DIRETORIO_ANTERIOR=DIRETORIO+ANO+'/'+MES_ANTERIOR+'/'
print(DIRETORIO_ANTERIOR)

A apuração da premiação coletiva é correspondente ao mês anterior.
Portanto, buscar arquivos do mês anterior na pasta:
C:/apuracao/2022/jun/

In [22]:
# CRIANDO PASTAS DE SAÍDA SE NÃO EXISTIREM
Path(DIR_IN).mkdir(parents=True, exist_ok=True)
Path(DIRETORIO_CHECAGEM).mkdir(parents=True, exist_ok=True)
Path(DIR_RH).mkdir(parents=True, exist_ok=True)

In [23]:
# PASTA COM ARQUIVOS BASES DO RH
#              DIRETORIO_ENTRA=DIRETORIO+ANO+'/'+MES+'/ORIGINAIS/'
print('Pasta:')
#              print(DIRETORIO_ENTRA)
print('Coloque nesta pasta os arquivos bases vindos do RH no mês da apuração:')
print('     base de ativos, ')
print('     base de falta injustificada; e')
print('     base de afastamentos.')
print(DIR_ENTRA)

Pasta:
Coloque nesta pasta os arquivos bases vindos do RH no mês da apuração:
     base de ativos,
     base de falta injustificada; e
     base de afastamentos.
C:/apuracao/ENTRADA/

In [24]:
# PASTA COM BASES DE VENDAS PUXADAS DO MicroStrategy
#                 DIRETORIO_VENDAS_NPS=DIRETORIO_ENTRA # pasta com vendas do MicroStrategy
DIRETORIO_VENDAS_NPS=DIR_IN
print('Pasta:')
print(DIRETORIO_VENDAS_NPS)
print('Esta pasta contem a base de VENDAS de '+MES_ANTERIOR+' puxadas no MicroStrategy.')

Pasta:
C:/apuracao/2022/jul/ORIGINAIS/
Esta pasta contem a base de VENDAS de jun puxadas no MicroStrategy.

In [25]:
# PASTA COM BASES DE NPS 
print('Pasta:')
print(DIRETORIO_VENDAS_NPS)
#                   print('Coloque nesta pasta a base de NPS de '+MES_ANTERIOR+' baixada da SoluCX.')

Pasta:
C:/apuracao/2022/jul/ORIGINAIS/

In [26]:
# PASTA COM PLANILHA DE CHECAGEM PARA O ANALISTA DE NEGÓCIOS
#                 DIRETORIO_CHECAGEM=DIRETORIO+ANO+'/'+MES+'/CHECAGEM/'
print('A planilha de checagem da apuração coletiva realizada em '+MES+' está aqui:')
print(DIRETORIO_CHECAGEM)

A planilha de checagem da apuração coletiva realizada em jul está aqui:
C:/apuracao/2022/jul/CHECAGEM/

In [27]:
DIRETORIO_INFO='C:/apuracao/info/'
print('Pasta com informações bases: '+DIRETORIO_INFO)
print('Aqui deve ter os arquivos com:')

Pasta com informações bases: C:/apuracao/info/
Aqui deve ter os arquivos com:

In [28]:
# PASTA DE SAÍDA DAS VERBAS DE PREMIAÇÕES TINA EM EXCEL A SEREM ENVIADOS AO RH
#DIRETORIO_SAI=DIRETORIO+ANO+'/'+MES+'/para_RH/'
DIRETORIO_SAI=DIR_RH
print(DIRETORIO_SAI)

C:/apuracao/2022/jul/para_RH/

In [29]:
# ARQUIVO DE ENTRADA: VALORES DE PREMIAÇÃO POR GRUPO DE CARGOS TELHANORTE E TUMELERO IGUAIS
F_PREMIO_CARGO=DIRETORIO_INFO+'premiacao_cargo_alvo.csv'
print(F_PREMIO_CARGO)

C:/apuracao/info/premiacao_cargo_alvo.csv

In [30]:
# # ARQUIVO DE SAÍDA PARA O RH - EM EXCEL
# FILE_SAI=DIRETORIO_SAI + "VERBA_4117_PREMIACAO_COLETIVA"+sufixo+".xlsx"
# FILE_SAI_SEM=DIRETORIO_SAI + "VERBA_4117_PREMIACAO_COLETIVA_sem_considerar_falta_injustificada"+sufixo+".xlsx"
# print('Arquivos de saída para RH')
# print(FILE_SAI)

In [31]:
# print('Arquivos de backup SEM CONSIDERAR FALTA INJUSTIFICADA')
# print(FILE_SAI_SEM)

In [32]:
# ARQUIO DE SAÍDA PARA CHECAGEM DO ANALISTA DE NEGÓCIOS - EM EXCEL
FILE_CHECAGEM=DIRETORIO_CHECAGEM + "CHECANDO_APURACAO_COLETIVA"+sufixo+".xlsx"
print('Planilha para checar a situação dos colaboradores em relação à Premiação Coletiva Tina')
print(FILE_CHECAGEM)

Planilha para checar a situação dos colaboradores em relação à Premiação Coletiva Tina
C:/apuracao/2022/jul/CHECAGEM/CHECANDO_APURACAO_COLETIVA.xlsx

In [33]:
# ARQUIO DE SAÍDA PARA CHECAGEM DO ANALISTA DE NEGÓCIOS - EM EXCEL
FILE_CHECAGEM_LOJAS=DIRETORIO_CHECAGEM + "CHECANDO_LOJAS_APURACAO_COLETIVA"+sufixo+".xlsx"
print('Planilha para checar lojas elegíveis à Premiação Coletiva Tina')
print(FILE_CHECAGEM_LOJAS)

Planilha para checar lojas elegíveis à Premiação Coletiva Tina
C:/apuracao/2022/jul/CHECAGEM/CHECANDO_LOJAS_APURACAO_COLETIVA.xlsx

In [34]:
# ARQUIO DE SAÍDA PARA CHECAGEM DO ANALISTA DE NEGÓCIOS - EM EXCEL
FILE_CHECAGEM_AFASTADOS=DIRETORIO_CHECAGEM + "CHECANDO_AFASTADOS_APURACAO_COLETIVA"+sufixo+".xlsx"
print('Planilha para checar base de afastados')
print(FILE_CHECAGEM_AFASTADOS)

Planilha para checar base de afastados
C:/apuracao/2022/jul/CHECAGEM/CHECANDO_AFASTADOS_APURACAO_COLETIVA.xlsx

In [142]:
# ARQUIO DE SAÍDA PARA CHECAGEM DE FALTAS INJUSTIFICADASDO ANALISTA DE NEGÓCIOS - EM EXCEL
FILE_CHECAGEM_FALTAS=DIRETORIO_CHECAGEM + "CHECANDO_FALTAS_INJUSTIFICADAS_APURACAO_COLETIVA"+sufixo+".xlsx"
print('Planilha para checar base de FALTAS INJUSTIFICADAS')
print(FILE_CHECAGEM_FALTAS)

Planilha para checar base de FALTAS INJUSTIFICADAS
C:/apuracao/2022/jul/CHECAGEM/CHECANDO_FALTAS_INJUSTIFICADAS_APURACAO_COLETIVA.xlsx

In [35]:
# ARQUIVO DE ENTRADA: CARGOS CONTEMPLADO PELA PREMIAÇÃO COLETIVA TINA TELHANORTE E TUMELERO DISCRIMINADOS
F_CARGOS=DIRETORIO_INFO+'cargos_contemplados_grupo_empresas.xlsx'
print(F_CARGOS)

C:/apuracao/info/cargos_contemplados_grupo_empresas.xlsx

In [36]:
# ARQUIVO DE ENTRADA: LOJAS TINA TELHANORTE E TUMELERO TODAS AS ONDAS
FILE_LOJAS_TINA=DIRETORIO_INFO+'lojas.csv'
print(FILE_LOJAS_TINA)

C:/apuracao/info/lojas.csv

In [37]:
def nome_verbas(DIR_RH, empresa):
    # Verbas para o RH das premiações Tina Coletiva
    F_VERBA=DIR_RH+"VERBA_4117_PREMIACAO_COLETIVA_"+empresa+sufixo+".xlsx"
    # Verbas para o RH das premiações Tina Coletiva SEM CONSIDERAR FALTAS INJUSTIFICADAS
    F_VERBA_SEM=DIR_RH+"VERBA_4117_PREMIACAO_COLETIVA_"+empresa+sufixo+"_sem_considerar_faltas_injustificadas.xlsx"

    return {'F_VERBA':F_VERBA, 
        'F_VERBA_SEM':F_VERBA_SEM}

In [38]:
# Nomes dos arquivos de verbas para RH
verbas_telha=nome_verbas(DIR_RH,dict_EMPRESAS[1])
verbas_tume=nome_verbas(DIR_RH,dict_EMPRESAS[4])

In [39]:
# ARQUIVO DE ENTRADA: ALVOS COLETIVOS DAS LOJAS TELHANORTE E TUMELERO
F_ALVOS=DIRETORIO_INFO+'target_store.csv'
print('Arquivo de alvos coletivos')
print(F_ALVOS)

Arquivo de alvos coletivos
C:/apuracao/info/target_store.csv

In [40]:
# ARQUIVO DE ENTRADA: NPS DAS LOJAS TELHANORTE E TUMELERO JUNTAS
FILE_NPS=DIRETORIO_VENDAS_NPS+'Ranking NPS.csv'
print(''+FILE_NPS)

C:/apuracao/2022/jul/ORIGINAIS/Ranking NPS.csv

In [41]:
# ARQUIVO DE ENTRADA: VENDAS DO MÊS ANTERIOR  DAS LOJAS TELHANORTE E TUMELERO JUNTAS
FILE_VENDAS=DIRETORIO_VENDAS_NPS+'Venda Mensal Telhanorte Tumelero em KR$ por Loja - Junior.xlsx'
print(FILE_VENDAS)

C:/apuracao/2022/jul/ORIGINAIS/Venda Mensal Telhanorte Tumelero em KR$ por Loja - Junior.xlsx

In [42]:
print(DIRETORIO_ANTERIOR)

C:/apuracao/2022/jun/

In [43]:
# ARQUIVO DE ENTRADA: base de ativos do mês em apuração gerado AUTOMATICAMENTE pela ADP
NOME_ATIVOS='BASE_TOTAL_ATIVOS_TINA.xlsx'
NOME_AFASTADOS='BASE_AFASTADO_TINA-TN_E_TUM.xlsx'
F_ATIVOS=DIRETORIO_ANTERIOR+'ORIGINAIS/'+NOME_ATIVOS
F_AFASTADOS=DIR_IN+NOME_AFASTADOS

print(F_ATIVOS)
print(F_AFASTADOS)

C:/apuracao/2022/jun/ORIGINAIS/BASE_TOTAL_ATIVOS_TINA.xlsx
C:/apuracao/2022/jul/ORIGINAIS/BASE_AFASTADO_TINA-TN_E_TUM.xlsx

In [44]:
# ARQUIVO DE ENTRADA: faltas injustificadas do mês e do mês anterior
NOME_FALTAS="PREMIACOES TINA.xlsx"
F_FALTAS = DIR_IN+NOME_FALTAS
F_FALTAS_MES_ANTERIOR=DIRETORIO_ANTERIOR+"ORIGINAIS/"+NOME_FALTAS
print(F_FALTAS_MES_ANTERIOR)
print(F_FALTAS)

C:/apuracao/2022/jun/ORIGINAIS/PREMIACOES TINA.xlsx
C:/apuracao/2022/jul/ORIGINAIS/PREMIACOES TINA.xlsx

BACKUP DAS BASES DA PASTA ENTRADAS PARA ORIGINAIS DO MÊS E ANO DA APURAÇÃO

In [45]:

# Fazendo backup das bases nas pasta ORIGINAIS respectiva ao mes e ano da apuração 
shutil.copy2(DIR_ENTRA+'Ranking NPS.csv',FILE_NPS)
shutil.copy2(DIR_ENTRA+'Venda Mensal Telhanorte Tumelero em KR$ por Loja - Junior.xlsx',FILE_VENDAS)
shutil.copy2(DIR_ENTRA+NOME_ATIVOS,DIR_IN+NOME_ATIVOS)
shutil.copy2(DIR_ENTRA+NOME_AFASTADOS,F_AFASTADOS)
shutil.copy2(DIR_ENTRA+NOME_FALTAS,F_FALTAS)

'C:/apuracao/2022/jul/ORIGINAIS/PREMIACOES TINA.xlsx'

ELEGIBILIDADE DAS LOJAS À PREMIAÇÃO COLETIVA TINA

In [46]:
# CARREGANDO PRÊMIOS POR GRUPO DE CARGOS 
PREMIOS=pd.read_csv(F_PREMIO_CARGO, sep=';')

In [47]:
# Carregando lojas TINA da Telhanorte e da Tumelero 
#
lojas_tina = pd.read_csv(FILE_LOJAS_TINA, encoding="ISO-8859-1", delimiter=";")
# Deletando lojas que não estão na safra TINA
lojas_tina.drop(lojas_tina[(
    (lojas_tina['id_unn']==1) & (lojas_tina['safra']>safra_telha)
    ) | (
    (lojas_tina['id_unn']==4) & (lojas_tina['safra']>safra_tume)   
    )
    ].index, inplace=True)

In [48]:
# CARREGANDO TODAS AS LOJAS TINA DO ROLL-OUT DA TELHANORTE
#             lojas_tina=pd.read_csv(FILE_LOJAS_TINA,sep=';', encoding='latin1')

In [49]:
# CARREGANDO SOMENTE AS LOJAS TINA DA EMPRESA SELECIONADA
#             lojas_tina=lojas_tina[lojas_tina['id_unn']==ID_UNN]

In [50]:
lojas_tina.columns

Index(['id_unn', 'cod_loja', 'sigla_loja', 'safra', 'loja', 'Unnamed: 5'], dtype='object')

In [51]:
lojas_tina

    id_unn  cod_loja sigla_loja  safra          loja      Unnamed: 5
0        1        19        IMI      1    IMIGRANTES             NaN
1        1        25        ZNO      1    ZONA NORTE             NaN
2        1        28        SOR      1      SOROCABA             NaN
3        1        43        TAT      1       TATUAPÉ             NaN
4        1         8        PGD      2  PRAIA GRANDE             NaN
..     ...       ...        ...    ...           ...             ...
61       4    510779        PFO      2   PASSO FUNDO  TU-PASSO FUNDO
62       4    510094        CRI      2       CRISTAL      TU-CRISTAL
63       4    510116        CEN      2        CENTRO       TU-CENTRO
64       4    510141        CAX      2        CAXIAS       TU-CAXIAS
65       4    510159        RGD      2    RIO GRANDE   TU-RIO GRANDE

[66 rows x 6 columns]

In [52]:
#TODO Se o mês for janeiro, pegar dezembro do ano anteriorf

# if MESES.index(MES) == 0:
#     MES_ANTERIOR=MES[11]
#     DIRETORIO_ANTERIOR=DIRETORIO+str(int(float(ANO))-1)+'/'+MES_ANTERIOR+'/originais/'
#     print(DIRETORIO_ANTERIOR)

# print(DIRETORIO_ANTERIOR)

In [53]:
# CARREGANDO ALVOS COLETIVOS DAS LOJAS
print('Carregando alvos coletivos do arquivo:')
print(F_ALVOS)
alvos=pd.read_csv(F_ALVOS, sep=';', encoding='latin1')

Carregando alvos coletivos do arquivo:
C:/apuracao/info/target_store.csv

In [54]:
# FILTRANDO ALVOS DO MÊS ANTERIOR
#alvos=alvos[(alvos['id_unn']==ID_UNN) & (alvos['id_mes']==int(float(ANO+I_MES_ANTERIOR)))].copy(deep=True)
alvos.drop(alvos[(
    (alvos['id_unn']==1) & (alvos['id_mes']!=int(float(ANO+I_MES_ANTERIOR)))
    ) | (
    (alvos['id_unn']==4) & (alvos['id_mes']!=int(float(ANO+I_MES_ANTERIOR)))
)].index, inplace=True)

In [55]:
alvos

     id_unn  id_fil  id_mes target_sales_store_1 target_sales_store_2
195       1       1  202206            4291666,3            4486646,4
196       1      75  202206            1768910,4            1867750,5
197       1      24  202206            8644696,4            8976048,4
198       1      57  202206            2232915,5              2393579
199       1      31  202206            2263530,9            2445982,9
..      ...     ...     ...                  ...                  ...
490       4  510591  202206           23375466,7           24298697,6
491       4  510612  202206           23375466,7           24298697,6
492       4  510639  202206           23375466,7           24298697,6
493       4  510752  202206           23375466,7           24298697,6
494       4  510779  202206           23375466,7           24298697,6

[66 rows x 5 columns]

In [56]:
# CARREGANDO AS VENDAS DAS LOJAS
print(FILE_VENDAS)
vendas=pd.read_excel(FILE_VENDAS, header=4) #

C:/apuracao/2022/jul/ORIGINAIS/Venda Mensal Telhanorte Tumelero em KR$ por Loja - Junior.xlsx

c:\Users\C1075636\Miniconda3\envs\tina\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [57]:
#vendas=vendas.iloc[4:]
vendas=vendas.iloc[1:]
# transformando vendas de caracteres para número
vendas = vendas[['Loja ID', 'Venda Bruta']].rename(
        columns={'Loja ID':'cod_loja','Venda Bruta':'Venda_Total'})

In [58]:
vendas

    cod_loja  Venda_Total
1        1.0   3947540.03
2        3.0  18591988.47
3        8.0   2332704.71
4        9.0   3221413.88
5       12.0   5155505.10
..       ...          ...
83  510612.0    378763.64
84  510639.0    961997.46
85  510752.0    798082.60
86  510779.0    886049.64
87  510809.0    521903.04

[87 rows x 2 columns]

In [59]:
# CARREGANDO NPS DAS LOJAS
print('Carregando NPS das lojas')
print(FILE_NPS)
nps_lojas=pd.read_csv(FILE_NPS,sep=';')

Carregando NPS das lojas
C:/apuracao/2022/jul/ORIGINAIS/Ranking NPS.csv

In [60]:
# ORGANIZANDO VENDAS POR LOJA
loja_nps_venda_alvo=pd.merge(
    lojas_tina[['cod_loja', 'sigla_loja']],
    vendas, 
    how='left',on='cod_loja'
    )

In [61]:
# JUNTANDO NPS ÀS VENDAS
loja_nps_venda_alvo=pd.merge(
    loja_nps_venda_alvo,
    nps_lojas[['externalId','nps']].rename(
        columns={'externalId':'cod_loja'}
        ),how='left',on='cod_loja'
    )

In [62]:
# JUNTANDO OS ALVOS COLETIVOS ÀS VENDAS E NPS
loja_nps_venda_alvo=pd.merge(
    loja_nps_venda_alvo,
    alvos[['id_fil', 'id_mes', 'target_sales_store_1',
       'target_sales_store_2']].rename(
        columns={'id_fil':'cod_loja'}
        ),how='left',on='cod_loja'
    )

In [63]:
# TRANSFORMANDO OS CARACTERES DA NPS EM NÚMEROS 
# REMOVENDO % DE nps e trocando a vírgula por ponto e obter número com decimal
loja_nps_venda_alvo['nps']=loja_nps_venda_alvo['nps'].str.replace("%","")
loja_nps_venda_alvo['nps']=loja_nps_venda_alvo['nps'].str.replace(",",".").astype(float)

In [64]:
# TRANSFORMANDO OS CARACTERES DOS ALVOS EM NÚMEROS 
loja_nps_venda_alvo['target_sales_store_1']=loja_nps_venda_alvo['target_sales_store_1'].str.replace(",",".").astype(float)
loja_nps_venda_alvo['target_sales_store_2']=loja_nps_venda_alvo['target_sales_store_2'].str.replace(",",".").astype(float)

In [65]:
# FUNÇÃO PARA VERIFICAR SE ATINTIU ALVO1 OU ALVO2 OU NENHUM
def alvo_alcancado(venda, alvo1, alvo2):
    if venda >= alvo2:
        alvo='ALVO2'
    elif venda >= alvo1:
        alvo='ALVO1'
    else: alvo = 'NAO'
    return alvo

In [66]:
# VERIFICANDO SE A LOJA BATEU ALVO1, ALVO2 OU NÃO BATEU O ALVO
loja_nps_venda_alvo['alvo']=loja_nps_venda_alvo.apply(
    lambda x: alvo_alcancado(
        x['Venda_Total'], x['target_sales_store_1'], x['target_sales_store_2']
        ), axis=1).copy()

In [67]:
# FUNÇÃO PARA VERFICAR SE A LOJA BATEU A META DE NPS
def nps_alcancado(nps):
    global NPS_ALVO
    if nps >=NPS_ALVO:
        nps_loja='SIM'
    else: nps_loja = 'NAO'
    return nps_loja

In [68]:
# Incluindo parâmetro para verificar se a loja alcançou a NPS estabelecida
loja_nps_venda_alvo['NPS_alcancado']=loja_nps_venda_alvo['nps'].apply(
    lambda x: nps_alcancado(x)).copy()

In [69]:
# CHECAGEM DAS LOJAS QUE ALCANÇARAM O ALVO
loja_nps_venda_alvo[
    (loja_nps_venda_alvo['alvo'] != 'NAO')
]

,cod_loja,sigla_loja,Venda_Total,nps,id_mes,target_sales_store_1,target_sales_store_2,alvo,NPS_alcancado
2,28,SOR,3821230.77,73.7,202206,3726244.8,3921275.5,ALVO1,SIM
38,72,SCA,1798552.42,72.5,202206,1781616.5,1901637.9,ALVO1,SIM

In [70]:
loja_nps_venda_alvo['LOJA_ELEGIVEL']=np.where(
    (loja_nps_venda_alvo['alvo'] != 'NAO') &
    (loja_nps_venda_alvo['NPS_alcancado'] == 'SIM'),
    'SIM',
    'NAO'
    )

In [71]:
# Obtendo somente as lojas elegíveis à premiação coletiva da Tina 
print('LOJAS ELEGÍVEIS À PREMIAÇÃO COLETIVA:')
lojas_elegiveis = loja_nps_venda_alvo[
    (loja_nps_venda_alvo['alvo'] != 'NAO') & 
    (loja_nps_venda_alvo['NPS_alcancado'] == 'SIM')
    ].copy(deep=True)
lojas_elegiveis

LOJAS ELEGÍVEIS À PREMIAÇÃO COLETIVA:

,cod_loja,sigla_loja,Venda_Total,nps,id_mes,target_sales_store_1,target_sales_store_2,alvo,NPS_alcancado,LOJA_ELEGIVEL
2,28,SOR,3821230.77,73.7,202206,3726244.8,3921275.5,ALVO1,SIM,SIM
38,72,SCA,1798552.42,72.5,202206,1781616.5,1901637.9,ALVO1,SIM,SIM

In [72]:
# CRIANDO PLANILHA DE CHECAGEM PARA META DE NPS E VENDAS DAS LOJAS
loja_nps_venda_alvo.to_excel(FILE_CHECAGEM_LOJAS, index=False)

In [73]:
# Lendo base de afastados
print("Lendo base de afastados no arquivo:")
print(F_AFASTADOS)
base_afastados = pd.read_excel(F_AFASTADOS) # afastados=

Lendo base de afastados no arquivo:
C:/apuracao/2022/jul/ORIGINAIS/BASE_AFASTADO_TINA-TN_E_TUM.xlsx

In [74]:
# Removendo espaços em branco do nome da coluna 
base_afastados.columns = base_afastados.columns.str.strip()
print(base_afastados.columns)

Index(['Empresa - Código', 'Estabelecimento - Código',
       'Estabelecimento - Nome', 'Matrícula', 'Nome', 'Função - Nome',
       'Centro de Resultado - Código', 'Centro de Resultado - Nome',
       'Data da Admissão', 'Data Afastamento', 'Data Retorno', 'Motivo',
       'Sigla do Motivo'],
      dtype='object')

In [75]:
# ELIMINA ESPAÇOS EM BRANCO ANTES E DEPOIS DA DATA
base_afastados['Data da Admissão']=base_afastados['Data da Admissão'].apply(
    lambda x: x.strip()
    )
base_afastados['Data Afastamento']=base_afastados['Data Afastamento'].apply(
    lambda x: x.strip()
    )
base_afastados['Data Retorno']=base_afastados['Data Retorno'].apply(
    lambda x: x.strip()
    )

In [76]:
# PARÂMETROS NECESSÁRIOS DOS AFASTADOS
PARAMETROS=[
    'Empresa - Código', 
    'Estabelecimento - Código',
    'Estabelecimento - Nome', 
    'Matrícula', 
    'Nome', 
    'Função - Nome',
    'Centro de Resultado - Código', 
    'Centro de Resultado - Nome',
    'Data da Admissão',
    'Data Afastamento',
    'Data Retorno',
    'Motivo',
]

In [77]:
# Para renomear  os parâmetros da base de afastados
RENOMEA={
    'Empresa - Código': 'EMPRESA',
    'Estabelecimento - Nome': 'ESTABELECIMENTO', 
    'Matrícula':'MATRICULA', 
    'Nome':'NOME',
    'Função - Nome': 'CARGO',
    'Data da Admissão':'DATA_ADMISSAO', 
    'Data Afastamento':'DATA_AFASTAMENTO', 
    'Data Retorno':'DATA_RETORNO',   
    'Tipo de Afastamento':'MOTIVO'
    }

# Renomeando as colunas da base de afastados com nome da direita pelo da esquerda
afastados=base_afastados[PARAMETROS].rename(columns=RENOMEA)

In [78]:
# MANTENDO APENAS A SIGLA DAS LOJAS
afastados['LOJA']=afastados['ESTABELECIMENTO'].apply(
    lambda x: x.strip()[-3:]
)

In [79]:
lojas_tina[lojas_tina['id_unn']==4]

    id_unn  cod_loja sigla_loja  safra           loja        Unnamed: 5
39       4    510175        LIV      1     LIVRAMENTO     TU-LIVRAMENTO
40       4    510248        BAG      1           BAGE           TU-BAGE
41       4    510281        SCR      1     SANTA CRUZ     TU-SANTA CRUZ
42       4    510442        SMA      1    SANTA MARIA    TU-SANTA MARIA
43       4    510574        IPI      1       IPIRANGA       TU-IPIRANGA
44       4    510639        CCH      1   CACHOEIRINHA   TU-CACHOEIRINHA
45       4    510019        MTZ      1         MATRIZ         TU-MATRIZ
46       4    510078        NHA      1  NOVO HAMBURGO  TU-NOVO HAMBURGO
47       4    510167        URU      1     URUGUAIANA     TU-URUGUAIANA
48       4    510183        CSH      2      CASA SHOP      TU-CASA SHOP
49       4    510230        SAN      2   SANTO ANGELO   TU-SANTO ANGELO
50       4    510337        SLE      2   SAO LEOPOLDO   TU-SAO LEOPOLDO
51       4    510361        MOM      2     MONTENEGRO     TU-MONTENEGRO
52       4    510388        EST      2         ESTEIO         TU-ESTEIO
53       4    510400        TRA      2      TRAMANDAI      TU-TRAMANDAI
54       4    510493        GRA      2       GRAVATAI       TU-GRAVATAI
55       4    510531        VIA      2         VIAMAO         TU-VIAMAO
56       4    510540        PEL      2        PELOTAS        TU-PELOTAS
57       4    510558        CPC      2    CAPAO CANOA    TU-CAPAO CANOA
58       4    510591        MED      2     MEDIANEIRA     TU-MEDIANEIRA
59       4    510612        IPA      2        IPANEMA        TU-IPANEMA
60       4    510752        CA2      2      CANOAS II      TU-CANOAS II
61       4    510779        PFO      2    PASSO FUNDO    TU-PASSO FUNDO
62       4    510094        CRI      2        CRISTAL        TU-CRISTAL
63       4    510116        CEN      2         CENTRO         TU-CENTRO
64       4    510141        CAX      2         CAXIAS         TU-CAXIAS
65       4    510159        RGD      2     RIO GRANDE     TU-RIO GRANDE

In [80]:
# Juntando codigo da loja na base de afastados
afastados = afastados.merge(
    lojas_tina[['id_unn', 'cod_loja','sigla_loja']].rename(columns={
        'id_unn': 'EMPRESA',
        'cod_loja': 'COD_LOJA',
        'sigla_loja': 'LOJA'
    }),
    how = 'inner',
    on=['EMPRESA','LOJA']
    )

In [81]:
# Manter somente funcionários afastados das Lojas Tina, filtrando pelo código da loja
#               afastados=afastados[afastados['LOJA'].isin(lojas_tina['cod_loja'])].copy(deep=True)

In [82]:
#len(afastados['LOJA'].unique())
afastados.sample(3)

,EMPRESA,Estabelecimento - Código,ESTABELECIMENTO,MATRICULA,NOME,CARGO,Centro de Resultado - Código,Centro de Resultado - Nome,DATA_ADMISSAO,DATA_AFASTAMENTO,DATA_RETORNO,Motivo,LOJA,COD_LOJA
4129,1,10,Saint-Gobain Distribuição Brasil Ltda - MGN,24370,CLEONICE BARBOSA DA SILVA ...,Vendedor(a),174403,MGN - VENDAS,20/10/2016,06/08/2021,09/08/2021,Atestado Médico,MGN,3
7447,1,57,Saint-Gobain Distribuição Brasil Ltda - SAN,2579,MARLENE CORREIA DE SANTANA ...,Enc de Caixa,574402,SAN - Operações Loja,07/06/1999,03/01/2022,02/02/2022,Férias,SAN,64
10728,1,18,Saint-Gobain Distribuição Brasil Ltda - PMG,28804,ELENICE DA PAZ CIRILO FERREIRA ...,Ass Serviços ao Cliente,234402,PMG - OPERACOES LOJA,08/02/2021,14/02/2022,17/02/2022,Atestado Médico,PMG,23

In [83]:
afastados['DATA_ADMISSAO']=pd.to_datetime(afastados['DATA_ADMISSAO'], format="%d/%m/%Y")

In [84]:
afastados['DATA_AFASTAMENTO']=pd.to_datetime(afastados['DATA_AFASTAMENTO'], format="%d/%m/%Y")

In [85]:
afastados['DATA_RETORNO']=np.where(afastados['DATA_RETORNO']=='', np.nan,afastados['DATA_RETORNO'])
afastados['DATA_RETORNO']=pd.to_datetime(afastados['DATA_RETORNO'], format="%d/%m/%Y")

In [86]:
#  Função para calcular os dias ADMITIDOS dentro do período apurado
def admitidos_no_mes(data_admissao):
    global DATA_I, DATA_F
    if data_admissao > DATA_F:
        dias_admitidos = 0
    elif data_admissao <= DATA_I :
        dias_admitidos=DATA_F.day
    else:
        dias_admitidos=(DATA_F-data_admissao).days+1
    return dias_admitidos

In [87]:
# CALCULANDO QUANTOS DIAS O FUNCIONÁRIO ESTÁ ADMITIDO NO MÊS DA APURAÇÃO
afastados['DIAS_ADMITIDOS']=afastados['DATA_ADMISSAO'].apply(
    lambda x: admitidos_no_mes(x)
    ).copy()

In [88]:
# INCLUINDO INFORMAÇÃO SE O COLABORADOR ESTÁ ADMITIDO HÁ MAIS DE 15 DIAS DO PERÍODO DE APURAÇÃO
afastados['MAIS_DE15DIAS_ADMITIDOS']=np.where(afastados['DIAS_ADMITIDOS']>=MEIO_MES,"SIM", "NAO")

In [89]:
# Elimina espaços em branco dos CARGOs dos funcionários 
afastados['CARGO']=afastados['CARGO'].apply(
    lambda x: x.strip()
)
# CHECAGEM
afastados['CARGO'].unique()

array(['Enc Depósito', 'Vendedor(a)', 'Enc de Caixa', 'Ger Geral III',
       'Ass Recebimento', 'ASSESSOR DE LOJA', 'Lider de Caixa',
       'Ass Serviços ao Cliente', 'Sup de Vendas', 'Sup de Produto',
       'Ger Operacional II', 'Assessor de Operações II',
       'Ger de Vendas I', 'Assessor de Operações I', 'Ass de Expedição',
       'DESIGNER PROJETISTA', 'Ger Geral I', 'Vendedor(a) Especialista',
       'Sup Operacional', 'Vendedor(a) Televendas', 'Anl Contábil Pl',
       'Coord Categoria', 'Anl Financeiro Jr', 'Ass Fiscal Sr',
       'COMPRADOR ADM PL', 'Ass Financeiro', 'Ass Departamento Pessoal',
       'Anl Financeiro Pl', 'COORD TECNOLOGIA DA INFORMACAO',
       'Oficial Manutenção Eletricista', 'Ass Financeiro Sr',
       'Enc Manutenção', 'Anl Funcional SAP PL', 'Gerente de Preços',
       'Enc de Produto', 'Ass Recursos Humanos', 'Ger de Informática',
       'Ger Regional I', 'Ger Categorias', 'Anl Infraestrut Pl',
       'Anl Funcional SAP Sr', 'Anl Abastecimento Pl',
       'GERENTE COMERCIAL', 'GER REGIONAL', 'Repositor(a)',
       'Ass Recebimento Fiscal', 'Técnico Seguranca Trabalho Sr',
       'Anl Gestão Compras Pl', 'Ass Prevenção de Perdas',
       'Anl Abastecimento Sr', 'Ger Relacionamento e Operações',
       'Coord de Serviços', 'Coord de EHS', 'Gerente Adm Financeiro',
       'Médico do Trabalho', 'Ger de Produto II',
       'SUP DE RECURSOS HUMANOS', 'ENC DE OPERACOES', 'Anl Fiscal Pl',
       'COORDENADOR PREVENCAO PERDAS', 'Anl Recebimento Fiscal Jr',
       'Ger de Vendas II', 'Anl Recursos Humanos Jr',
       'Supervisor Financeiro', 'SUP CARTOES E SERV FINANCEIROS',
       'Ger Recursos Humanos', 'Sup de Televendas', 'Ass Administrativo',
       'Coord Recursos Humanos', 'Coord Fiscal', 'Anl Fiscal Jr',
       'COORD CARTOES SERV FINANCEIROS', 'Ger Regional II',
       'Anl de Importação Sr', 'Ger de Infraestrutura',
       'GER CANAIS DIGITAIS', 'Ger. Qualidade e EHS',
       'COORD PREV E GESTAO DE FRAUDE', 'Dir de Marketing',
       'Anl Recursos Humanos Pl', 'Anl Contábil Sr',
       'Ger Desenvolv. Organizacional', 'Assist Controle Gestão Oper',
       'Técnico de Edificações Sr', 'Enc Serviços ao Cliente',
       'Ger Compras e Importação', 'Especialista de Preço',
       'Ger de Prevencao de Perdas', 'Ger Compras Adm',
       'Anl Serv Merchandising Pl', 'GER GERAL SR',
       'COORD INTELIGENCIA MERCADO', 'Anl Abastecimento Jr',
       'Ger Gestão Categorias', 'Anl Prevenção Perdas Pl',
       'Coord Controle Interno', 'ENC SEGURANCA PATRIMONIAL',
       'GER REMUNERACAO E BENEFICIOS', 'SECRETARIA DIRETORIA',
       'Sup Caixa', 'Anl Gestão Compras Jr', 'Dir Adm Financeiro',
       'Ger Televendas', 'Oficial Manutenção',
       'Anl Relacoes Trabalhistas Pl', 'Coordenador de Merchandising',
       'Dir. Expansão e Novos Negócios', 'Coord Comunicação Interna',
       'Diretor de Informatica', 'Ger Novos Negocios', 'COORD EXPANSAO',
       'Anl Relacionamento e Operações', 'Gerente Projetos Operações',
       'Ger de Controladoria', 'Anl Infraestrut Sr',
       'Coord Financeiro(a)', 'COORD DE PROCESSOS', 'Anl Financeiro Sr',
       'ASS ADM TELEVENDAS', 'COORDENADOR DE BI', 'Coordenador Compras',
       'Dir Recursos Humanos', 'ANALISTA DE BI SR', 'Dir de Logística',
       'Coord DHO', 'Ass Compras e Cadastro', 'Analista de Preços',
       'COORD. MARKETING DE ATIVAÇÃO', 'Anl de Marketing Sr',
       'DIRETOR COMERCIAL', 'Técnico de Edificações', 'Ass Fiscal Pl',
       'Comprador', 'Anl Infraestrut Jr', 'Coord Recrutamento e Seleção',
       'Coord de Engenharia', 'GERENTE LOGISTICA', 'COORDENADOR CONTABIL',
       'GER PROD E SERV FINANCEIROS', 'Ass Logistico Televenda',
       'Ger Operacional I', 'ANL RH REGIONAL PL', 'Supervisor Fiscal',
       'GER DESENV DE SISTEMAS', 'Coord(a) Gestão e Seg de Dados',
       'ANL MARKETING DE ATIVACAO JR', 'Anl Merchandising Sr',
       'ASS INFRAESTRUTURA', 'COORD COMUNICACAO', 'Ger Marketing',
       'Ass Compras', 'COORDENADOR DE PROJETOS', 'Coord  Abastecimento',
       'ORCAMENTISTA', 'Analista de Novos Negócios Pl', 'Ass Cadastro Jr',
       'Anl Merchandising Pl', 'Estagiário(a)', 'Analista de Preço Jr',
       'Trainee', 'DIR OPERAÇÕES GERAIS DIST BRA',
       'Coord Compras Administrativas', 'GERENTE REGIONAL',
       'Ger Contr de Gest Operacional', 'Tec Manut Instal de Sistemas',
       'Analista de Projetos Sr', 'Ass Manut Serv Gerais',
       'Operador(a) Caixa', 'Ger Geral II', 'Aux Manutenção',
       'Conferente', 'Enc CTN', 'Operador Empilhadeira',
       'Ger de Vendas III', 'Gerente Operacional',
       'Enc Prevenção de Perda', 'Ger de Produto I',
       'Anl de Logística Jr', 'Sup de Depósito', 'Sup deProduto I',
       'Técnico Seguranca Trabalho Pl', 'Vendedor(a) Especialista Lider',
       'Atendente de Loja', 'Sup Administrativo',
       'Ass Serviço ao Cliente', 'OPERADOR DE SAC',
       'ANALISTA DE ESTOQUES', 'SUPERVISOR FISCAL DE LOJA',
       'ATENDENTE DE RH', 'ENCARREGADO DO SAC',
       'ASSISTENTE DE CONTABILIDADE', 'ASSISTENTE DE MERCHANDISING',
       'ANALISTA DE CREDITO PLENO', 'Coord de Mercado',
       'ASSISTENTE DE E-COMMERCE', 'ANALISTA DE SUPORTE PLENO',
       'ANALISTA DE CUSTOS', 'GERENTE DE PREVENCAO DE PERDAS',
       'ANALISTA FINANCEIRO', 'CONTROLADOR DE PRODUCAO',
       'ANALISTA DE RELACOES TRABALHISTAS', 'AUDITOR INTERNO',
       'AUXILIAR DE SERVICOS GERAIS', 'Técnico Seguranca Trabalho Jr',
       'ASSISTENTE DE COMPRAS', 'CONTROLADOR DE PRODUCAO SENIOR',
       'AUDITOR INTERNO DE ESTOQUES II', 'FISCAL DE LOJA',
       'OPERADOR DE TELE VENDAS', 'GERENTE DE LOJA', 'COORDENADOR DE TI',
       'COORD MARKETING DE ATIVACAO', 'GERENTE ADJUNTO',
       'ANALISTA DE CONTROLADORIA', 'ASSISTENTE ADMINISTRATIVO II',
       'AUXILIAR DE EXPEDICAO II', 'Anl Recursos Humanos Sr',
       'ASSISTENTE FINANCEIRO', 'Gerente de Produtos',
       'ANALISTA DE CONTROLE INTERNO', 'Anl Cartões e Serv Financeiro',
       'ENCARREGADO EXPEDICAO DEPOSITO', 'AUXILIAR DE LOJA',
       'AUXILIAR DE MALOTE', 'ANALISTA DE MARKETING',
       'SUPERVISORA DE CAIXA', 'Supervisor Televendas',
       'ASSISTENTE ADMINISTRATIVO', 'CAIXA CREDIARISTA', 'Anl Fiscal Sr',
       'AUDITOR INTERNO DE ESTOQUE I', 'PROGRAMADOR SENIOR',
       'VENDEDOR(A) TELEVENDAS', 'AUXILIAR DE MERCHANDISING',
       'CONTROLADOR DE PRODUÇÃO PLENO', 'ANALISTA FISCAL PLENO',
       'OPERADOR DE EMPILHADEIRA LOJA', 'ANALISTA CONTABIL',
       'GERENTE DE INFRAESTRUTURA', 'CONSULTOR DE TREINAMENTO COML',
       'Assistente  de Atendimento', 'GER TELEVENDAS',
       'COORD ADMINISTRATIVO', 'ANL VISUAL MERCHANDISING SR',
       'COORD MANUTENÇÃO E SERVIÇOS', 'Anl Servico ao Cliente Jr',
       'AUXILIAR DE EXPEDICAO I', 'CAIXA CREDIARISTA LIDER', 'VIGILANTE',
       'GERENTE TRAINEE', 'AUXILIAR DE EXPEDICAO LOJA',
       'CAIXA ADMINISTRATIVA', 'ASSESSOR DE VENDAS E OPERAÇÕES',
       'ENC DE OPERAÇOES E SERVICOS'], dtype=object)

In [90]:
#  Função para calcular os dias de afastamento dentro do período apurado
def afastamento_do_mes(data_afastamento, data_retorno):
    global DATA_I, DATA_F
    if (data_afastamento < DATA_I and data_retorno < DATA_I) or (data_afastamento >= DATA_F and data_retorno > DATA_F):
        dias_afastados=0
    elif data_afastamento >= DATA_I and data_retorno <= DATA_F:
        dias_afastados=(data_retorno-data_afastamento).days
    elif (data_afastamento < DATA_I or pd.isnull(data_afastamento))  and data_retorno <= DATA_F:
        dias_afastados=(data_retorno-DATA_I).days
    elif data_afastamento >= DATA_I and (data_retorno > DATA_F or pd.isnull(data_retorno)):
        dias_afastados=(DATA_F-data_afastamento).days+1
    elif (data_afastamento < DATA_I or pd.isnull(data_afastamento)) and (data_retorno > DATA_F or pd.isnull(data_retorno)):
        dias_afastados=(DATA_F.day)
    elif (data_afastamento < DATA_I or pd.isnull(data_afastamento)) and (data_retorno < DATA_I):
        dias_afastados=(DATA_F.day-DATA_F.day)
    else:
        print("ERRO")
        dias_afastados=0

    return dias_afastados

In [91]:
# Contando os dias de afastamento para cada período de afastamento considerando o período de apuração
afastados['dias_afastados']=afastados.apply(
    lambda x: afastamento_do_mes(x['DATA_AFASTAMENTO'],x['DATA_RETORNO']), axis=1)

In [92]:
# CHECAGEM
afastados[
    (afastados['DATA_RETORNO']>=DATA_I) # & 
#    (afastados['DATA_ADMISSAO']<=DATA_I)
    ].to_excel(FILE_CHECAGEM_AFASTADOS, index=False)

In [93]:
# SOMANDO OS DIAS AFASTADOS POR MATRÍCULA
dias_afastados_por_matricula=afastados.groupby(
    ['EMPRESA', 'COD_LOJA', 'LOJA','MATRICULA', 'NOME']
    )['dias_afastados'].sum().reset_index(name='dias_afastados_totais')

In [94]:
dias_afastados_por_matricula[dias_afastados_por_matricula['dias_afastados_totais']>0]

,EMPRESA,COD_LOJA,LOJA,MATRICULA,NOME,dias_afastados_totais
1,1,1,ANH,2147,ROSEMARY MARIA MARTINS ...,30
2,1,1,ANH,3037,DENECI XAVIER CABRAL SILVA ...,30
3,1,1,ANH,3402,AMABILE CHRISTINA LOURENCO ...,10
9,1,1,ANH,16948,JACQUELINE SANTOS TARIGI ...,4
12,1,1,ANH,22152,JOSIMARA CORREIA RODRIGUES MENDES ...,2
...,...,...,...,...,...,...
2387,4,510779,PFO,9130,CLEBER CAMPO LEAO ...,10
2388,4,510779,PFO,9944,LETICIA LONGUI MARTINS ...,6
2389,4,510779,PFO,11888,JOENGRID ANGEL CAMARGO ...,28
2390,4,510779,PFO,11905,WOLNI FOLLMER ...,6
2395,4,510779,PFO,12658,DIONI EDUARDO MARTINS ...,8

In [95]:
# Lendo base de ativos
print("Lendo base de ativos no arquivo:")
print(F_ATIVOS)
#base_ativos = pd.read_excel(F_ATIVOS, header=0) # 
base_ativos = pd.read_excel(F_ATIVOS) #

Lendo base de ativos no arquivo:
C:/apuracao/2022/jun/ORIGINAIS/BASE_TOTAL_ATIVOS_TINA.xlsx

In [96]:
# Removendo espaços em branco do nome da coluna 
base_ativos.columns = base_ativos.columns.str.strip()

In [97]:
# MANTENDO APENAS A SIGLA DAS LOJAS
base_ativos['SIGLA_LOJA']=base_ativos['Estabelecimento - Nome'].apply(
    lambda x: x.strip()[-3:]
)

In [98]:
base_ativos['ID_UNN']=np.where(
    base_ativos['Estabelecimento - Nome'].apply(
    lambda x: x.strip()[0:3])=='TUM',4,1
)

In [99]:
base_ativos.columns

Index(['Estabelecimento - Código', 'Matrícula', 'Nome - Primeiro Nome',
       'Nome - Sobrenome', 'Cargo - Código', 'Cargo - Nome',
       'Data de Nascimento', 'Data da Admissão',
       'Situação do Empregado - Status', 'Escala - Código', 'Escala - Nome',
       'Estabelecimento - Nome', 'Vínculo Empregatício - Código',
       'Vínculo Empregatício - Nome', 'Chefia Imediata - Matrícula',
       'Centro de Resultado - Código', 'Centro de Resultado - Nome',
       'SIGLA_LOJA', 'ID_UNN'],
      dtype='object')

In [100]:
#lojas_tina['sigla_loja']
base_ativos=base_ativos.merge(
    lojas_tina[['id_unn', 'cod_loja', 'sigla_loja']].rename(
        columns={'id_unn':'ID_UNN', 
        'cod_loja':'COD_LOJA', 
        'sigla_loja':'SIGLA_LOJA'}
    )
)

In [101]:
base_ativos.columns

Index(['Estabelecimento - Código', 'Matrícula', 'Nome - Primeiro Nome',
       'Nome - Sobrenome', 'Cargo - Código', 'Cargo - Nome',
       'Data de Nascimento', 'Data da Admissão',
       'Situação do Empregado - Status', 'Escala - Código', 'Escala - Nome',
       'Estabelecimento - Nome', 'Vínculo Empregatício - Código',
       'Vínculo Empregatício - Nome', 'Chefia Imediata - Matrícula',
       'Centro de Resultado - Código', 'Centro de Resultado - Nome',
       'SIGLA_LOJA', 'ID_UNN', 'COD_LOJA'],
      dtype='object')

In [102]:
# ELIMINA ESPAÇOS EM BRANCO ANTES E DEPOIS DA DATA
base_ativos['Data da Admissão']=base_ativos['Data da Admissão'].apply(
    lambda x: x.strip()
    )

In [103]:
lojas_tina.columns

Index(['id_unn', 'cod_loja', 'sigla_loja', 'safra', 'loja', 'Unnamed: 5'], dtype='object')

In [104]:
# Pegando da base de ativos somente parâmetros/colunas necessários 
ativos=base_ativos[[
    'ID_UNN', 'COD_LOJA', 'SIGLA_LOJA',
    'Matrícula', 
    'Nome - Primeiro Nome',
    'Nome - Sobrenome', 
    'Cargo - Nome',
    'Data da Admissão',
    'Situação do Empregado - Status',
     'Centro de Resultado - Código'
    ]].copy(deep=True)

In [105]:
# RENOMEANDO OS PARÂMETROS/COLUNAS DA BASE DE ativos DA esquerda para direita {'ESQUERDA':'DIREITA'}
RENOMEA={
    'Matrícula':'MATRICULA', 
    'Nome - Primeiro Nome':'NOME',
    'Nome - Sobrenome':'SOBRENOME', 
    'Cargo - Nome':'CARGO',
    'Data da Admissão':'DATA_ADMISSAO',
    'Situação do Empregado - Status':'STATUS',
    'SIGLA_LOJA': 'LOJA'
}

ativos.rename(columns=RENOMEA, inplace=True)

In [106]:
# FORMATO DE DATA dd/mm/aaaa
ativos['DATA_ADMISSAO']=pd.to_datetime(ativos['DATA_ADMISSAO'], format='%d/%m/%Y')

In [107]:
# Mantendo apenas colaboradores da loja da MGN, excluindo sede
ativos_nao_MGN=ativos[ativos['LOJA']!='MGN']
# Toda a MGN
ativos_MGN=ativos[ativos['LOJA']=='MGN'].copy(deep=True)
loja_MGN=ativos_MGN[(ativos_MGN['Centro de Resultado - Código']==808568) |
    ((ativos_MGN['Centro de Resultado - Código']>=174000) & 
    (ativos_MGN['Centro de Resultado - Código']<=174999) )  
    ].copy(deep=True)

In [108]:
# JUNTANDO BASE DE ATIVOS SOMENTE DAS LOJAS e a LOJA DA MARGINAL
ativos_lojas=pd.concat([ativos_nao_MGN, loja_MGN], ignore_index=True)

In [109]:
tina=ativos_lojas

In [110]:
#  Função para calcular os dias ADMITIDOS dentro do período apurado
def admitidos_no_mes(data_admissao):
    global DATA_I, DATA_F
    if data_admissao > DATA_F:
        dias_admitidos = 0
    elif data_admissao <= DATA_I :
        dias_admitidos=DATA_F.day
    else:
        dias_admitidos=(DATA_F-data_admissao).days+1
    return dias_admitidos

In [111]:
# CALCULANDO QUANTOS DIAS O FUNCIONÁRIO ESTÁ ADMITIDO NO MÊS DA APURAÇÃO
tina['DIAS_ADMITIDOS']=tina['DATA_ADMISSAO'].apply(
    lambda x: admitidos_no_mes(x)
    ).copy()

In [112]:
# INCLUINDO INFORMAÇÃO SE O COLABORADOR ESTÁ ADMITIDO HÁ MAIS DE 15 DIAS DO PERÍODO DE APURAÇÃO
tina['MAIS_DE15DIAS_ADMITIDOS']=np.where(tina['DIAS_ADMITIDOS']>=MEIO_MES,"SIM", "NAO")

In [113]:
# LIMPANDO ESPAÇOS EM BRANCO DO STATUS
tina['STATUS']=tina['STATUS'].apply(
    lambda x: x.strip()
    )

In [114]:
# Elimina espaços em branco dos CARGOs dos funcionários 
tina['CARGO']=tina['CARGO'].apply(
    lambda x: x.strip()
)
# CHECAGEM
tina['CARGO'].unique()

array(['Enc Depósito', 'Vendedor(a)', 'Enc de Caixa', 'Ger Geral III',
       'Ass Recebimento', 'ASSESSOR DE LOJA', 'Lider de Caixa',
       'Ass Serviços ao Cliente', 'Sup de Vendas', 'Sup de Produto',
       'Ger Operacional II', 'Assessor de Operações II',
       'Ger de Vendas I', 'Assessor de Operações I', 'Ass de Expedição',
       'DESIGNER PROJETISTA', 'Ass Prevenção de Perdas', 'Ger Geral I',
       'Vendedor(a) Especialista', 'Sup Operacional',
       'Ass Manut Serv Gerais', 'Operador(a) Caixa', 'Ger Geral II',
       'Aux Manutenção', 'Conferente', 'Enc CTN',
       'Oficial Manutenção Eletricista', 'Designer Projetista',
       'Ger Operacional I', 'Enc de Produto', 'Ger de Produto II',
       'Operador Empilhadeira', 'Consultor de Vendas Externas',
       'Ger de Vendas II', 'Repositor(a)', 'Gerente Operacional',
       'Enc Prevenção de Perda', 'Ger de Produto I', 'Estagiário(a)',
       'Anl de Logística Jr', 'Sup de Depósito', 'Ger de Vendas III',
       'Menor Aprendiz', 'Sup deProduto I',
       'Técnico Seguranca Trabalho Pl', 'ANL RH REGIONAL PL',
       'Vendedor(a) Especialista Lider', 'Atendente de Loja',
       'Sup Administrativo', 'Ass Serviço ao Cliente', 'OPERADOR DE SAC',
       'ANALISTA DE ESTOQUES', 'SUPERVISOR FISCAL DE LOJA',
       'ATENDENTE DE RH', 'ENCARREGADO DO SAC',
       'ASSISTENTE DE CONTABILIDADE', 'ASSISTENTE DE MERCHANDISING',
       'ANALISTA DE CREDITO PLENO', 'Coord de Mercado',
       'ASSISTENTE DE E-COMMERCE', 'ANALISTA DE SUPORTE PLENO',
       'ANALISTA DE CUSTOS', 'GERENTE DE PREVENCAO DE PERDAS',
       'ANALISTA FINANCEIRO', 'CONTROLADOR DE PRODUCAO',
       'ANALISTA DE RELACOES TRABALHISTAS', 'AUDITOR INTERNO',
       'AUXILIAR DE SERVICOS GERAIS', 'Técnico Seguranca Trabalho Jr',
       'ASSISTENTE DE COMPRAS', 'CONTROLADOR DE PRODUCAO SENIOR',
       'AUDITOR INTERNO DE ESTOQUES II', 'FISCAL DE LOJA',
       'OPERADOR DE TELE VENDAS', 'GER REGIONAL', 'GERENTE DE LOJA',
       'COORDENADOR DE TI', 'COORD MARKETING DE ATIVACAO',
       'ANALISTA DE CONTROLADORIA', 'ASSISTENTE ADMINISTRATIVO II',
       'GERENTE TRAINEE', 'AUXILIAR DE EXPEDICAO II',
       'Anl Recursos Humanos Sr', 'ASSISTENTE FINANCEIRO',
       'Gerente de Produtos', 'ANALISTA DE CONTROLE INTERNO',
       'Anl Cartões e Serv Financeiro', 'ENCARREGADO EXPEDICAO DEPOSITO',
       'AUXILIAR DE LOJA', 'AUXILIAR DE MALOTE', 'ANALISTA DE MARKETING',
       'SUPERVISORA DE CAIXA', 'Supervisor Televendas',
       'ASSISTENTE ADMINISTRATIVO', 'CAIXA CREDIARISTA',
       'GERENTE ADJUNTO', 'Anl Fiscal Sr', 'AUDITOR INTERNO DE ESTOQUE I',
       'PROGRAMADOR SENIOR', 'VENDEDOR(A) TELEVENDAS',
       'AUXILIAR DE MERCHANDISING', 'Técnico Seguranca Trabalho Sr',
       'CONTROLADOR DE PRODUÇÃO PLENO', 'ANALISTA FISCAL PLENO',
       'OPERADOR DE EMPILHADEIRA LOJA', 'ANALISTA CONTABIL',
       'GERENTE DE INFRAESTRUTURA', 'CONSULTOR DE TREINAMENTO COML',
       'Assistente  de Atendimento', 'Enc Manutenção', 'GER TELEVENDAS',
       'Ass Administrativo', 'COORD ADMINISTRATIVO',
       'Coord Recursos Humanos', 'AUXILIAR DE EXPEDICAO I',
       'SUP CARTOES E SERV FINANCEIROS', 'ANL VISUAL MERCHANDISING SR',
       'COORD MANUTENÇÃO E SERVIÇOS', 'Anl Servico ao Cliente Jr',
       'ANALISTA DE RELACIONAMENTO', 'COMPRADOR PLENO',
       'Anl Recursos Humanos Pl', 'CAIXA CREDIARISTA LIDER', 'VIGILANTE',
       'AUXILIAR DE EXPEDICAO LOJA', 'CAIXA ADMINISTRATIVA',
       'OPERADOR DE EMPILHADEIRA', 'ENC DE OPERAÇOES E SERVICOS',
       'Ass Departamento Pessoal', 'ENC DE OPERACOES',
       'Enc Serviços ao Cliente', 'GER GERAL SR', 'Sup Caixa',
       'ASSESSOR DE OPERACOES', 'Técnico Projetista'], dtype=object)

In [115]:
# INCLUINDO ELEGIBILIDADE DA LOJA
tina['LOJA_ELEGIVEL']=np.where(tina['COD_LOJA'].isin(lojas_elegiveis['cod_loja']),'SIM','NAO')

In [116]:
print(lojas_elegiveis)
print(dias_afastados_por_matricula)

    cod_loja sigla_loja  Venda_Total   nps  id_mes  target_sales_store_1  \
2         28        SOR   3821230.77  73.7  202206             3726244.8
38        72        SCA   1798552.42  72.5  202206             1781616.5

    target_sales_store_2   alvo NPS_alcancado LOJA_ELEGIVEL
2              3921275.5  ALVO1           SIM           SIM
38             1901637.9  ALVO1           SIM           SIM
      EMPRESA  COD_LOJA LOJA  MATRICULA  \
0           1         1  ANH       1890
1           1         1  ANH       2147
2           1         1  ANH       3037
3           1         1  ANH       3402
4           1         1  ANH       7705
...       ...       ...  ...        ...
2392        4    510779  PFO      12311
2393        4    510779  PFO      12346
2394        4    510779  PFO      12553
2395        4    510779  PFO      12658
2396        4    510779  PFO      23881

                                                   NOME  dias_afastados_totais
0     JOSE APARECIDO PEREIRA CONCEICAO              ...                      0
1     ROSEMARY MARIA MARTINS                        ...                     30
2     DENECI XAVIER CABRAL SILVA                    ...                     30
3     AMABILE CHRISTINA LOURENCO                    ...                     10
4     NIVALDO MOREIRA DA SILVA                      ...                      0
...                                                 ...                    ...
2392  PEDRO ELOI WEHRMANN SCHWEIZER                 ...                      0
2393  CARLOS EDUARDO RIBEIRO MOREIRA                ...                      0
2394  EDIANA  CARLA SEEHABER                        ...                      0
2395  DIONI EDUARDO MARTINS                         ...                      8
2396  ERIK ANDERSEN BASTOS MELO                     ...                      0

[2397 rows x 6 columns]

In [117]:
# INCLUINDO DIAS AFASTADOS TOTAIS DA MATRÍCULA
tina_afastados=pd.merge(
    tina.rename(columns={'cod_loja': 'COD_LOJA'}),
    dias_afastados_por_matricula[
        ['COD_LOJA','MATRICULA','dias_afastados_totais']
        ],
        how='left',
        on=['COD_LOJA','MATRICULA']
        )

In [118]:
# PREENCHENDO COM ZERO ATIVOS SEM AFASTAMENTOS
tina_afastados['dias_afastados_totais'].fillna(0, inplace=True)

In [119]:
tina_afastados

,ID_UNN,COD_LOJA,LOJA,MATRICULA,NOME,SOBRENOME,CARGO,DATA_ADMISSAO,STATUS,Centro de Resultado - Código,DIAS_ADMITIDOS,MAIS_DE15DIAS_ADMITIDOS,LOJA_ELEGIVEL,dias_afastados_totais
0,1,24,ARI,27,NILTON,DOS SANTOS,Enc Depósito,1991-06-01,ATIVO,244406,30,SIM,NAO,0.0
1,1,24,ARI,5085,JOAO,SOUZA,Vendedor(a),2002-01-14,ATIVO,244403,30,SIM,NAO,0.0
2,1,24,ARI,5168,ANTONIO,LEMOS,Vendedor(a),2002-03-01,ATIVO,244403,30,SIM,NAO,0.0
3,1,24,ARI,6444,ROBSON,RODRIGUES,Vendedor(a),2003-06-24,ATIVO,244403,30,SIM,NAO,0.0
4,1,24,ARI,6454,SIGNEIDE,LIMA,Enc de Caixa,2003-06-24,ATIVO,244402,30,SIM,NAO,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2606,1,3,MGN,30007,LEANDRO,SOARES,Sup de Depósito,2022-06-13,ATIVO,174406,18,SIM,NAO,0.0
2607,1,3,MGN,30017,EDUARDO,DE MELO,Vendedor(a),2022-06-21,ATIVO,174403,10,NAO,NAO,0.0
2608,1,3,MGN,30036,RODRIGO,LEITE,ASSESSOR DE LOJA,2022-06-22,ATIVO,174402,9,NAO,NAO,0.0
2609,1,3,MGN,30038,ISABELA,RODRIGUES,DESIGNER PROJETISTA,2022-06-22,ATIVO,174403,9,NAO,NAO,0.0
2610,1,3,MGN,30026,DIEGO,PENA,Técnico Projetista,2022-06-21,ATIVO,174403,10,NAO,NAO,0.0

In [120]:
# CALCULANDO DIAS ATIVOS NO PERÍODO DE APURAÇÃO CONSIDERANDO A DATA DE ADMISSÃO
tina_afastados['DIAS_ATIVOS']=tina_afastados['DIAS_ADMITIDOS']-tina_afastados['dias_afastados_totais']

In [121]:
tina_afastados['MAIS_DE15DIAS_ATIVOS']=np.where(
    tina_afastados['DIAS_ATIVOS']>=MEIO_MES, 'SIM','NAO'
    )

In [122]:
# Lendo faltas injustificadas dos colaboradores
print("Lendo faltas injustificadas do arquivo:")
print(F_FALTAS_MES_ANTERIOR+' tem ocorrências do dia 01 até 15 do mês anterior.')
print(F_FALTAS+' tem ocorrências do dia 16 do mês anterior até 15 do mês atual.')
faltas_inj = pd.read_excel(F_FALTAS, header=0) # Tem ocorrências do dia 16 do mes anterior até 15 do mes atual. Vou pegar somente do 16 ao final do mês anterior.
faltas_mes_anterior=pd.read_excel(F_FALTAS_MES_ANTERIOR, header=0) # para pegar as ocorrências do dia 01 até o dia 15 do mês anterior

Lendo faltas injustificadas do arquivo:
C:/apuracao/2022/jun/ORIGINAIS/PREMIACOES TINA.xlsx tem ocorrências do dia 01 até 15 do mês anterior.
C:/apuracao/2022/jul/ORIGINAIS/PREMIACOES TINA.xlsx tem ocorrências do dia 16 do mês anterior até 15 do mês atual.

In [123]:
# Juntando as bases do mês passado e delimitando para o período de apuração
todas_faltas=pd.concat([faltas_mes_anterior, faltas_inj], axis=0)
faltas = todas_faltas[(todas_faltas['DATA DA OCORRÊNCIA'] >= DATA_I) &
           (todas_faltas['DATA DA OCORRÊNCIA'] <= DATA_F)].copy()
faltas['DATA DA OCORRÊNCIA'].sort_values()

104   2022-06-01
316   2022-06-01
327   2022-06-01
346   2022-06-01
302   2022-06-01
         ...
238   2022-06-30
34    2022-06-30
284   2022-06-30
96    2022-06-30
313   2022-06-30
Name: DATA DA OCORRÊNCIA, Length: 383, dtype: datetime64[ns]

In [124]:
# Renomeando a coluna da MATRICULA nas faltas 
faltas.rename(columns={'MATR EMPR':'MATRICULA'}, inplace=True)

In [161]:
faltas['DATA DA OCORRÊNCIA']=faltas['DATA DA OCORRÊNCIA'].dt.date

In [162]:
faltas.sample(2)

,PERIODO - DTINI,PERIODO - DTFIM,EMPRESA,DATA DA OCORRÊNCIA,COD ESTAB,NOME ESTAB,COD CR,NOME CR,CÓDIGO DO CENTRO CUSTO CONTABILIDADE,MATR CHEFIA,NOME CHEFIA,MATRICULA,NOME EMPPR,FUNCAO-DENOMINACAO,COD VERBA,DESCRICAO VERBA,VALOR
233,2022-06-16,2022-07-15,1,2022-06-18,76,TUT,734401,TUT GERENCIA E SUPERVISAO,734401,29721,GLEICYELE MOREIRA FERREIRA,29849,WILLIAN DA SILVA CRUZ,Assessor (A) Loja I,9005,Falta Injustificada,7.33
207,2022-05-16,2022-06-15,1,2022-06-10,18,PMG,234402,PMG - OPERACOES LOJA,234402,8513,RENE CESAR MONTEIRO,29427,KEMELYM NICOLY PINHEIRO DOS SA,ASSESSOR DE LOJA,9005,Falta Injustificada,7.33

In [125]:
# PARA RENOMEAR PARÂMETROS DE ALVO E NPS E INCLUIR NA PLANILHA DE CHECAGEM
RENOMEA={
    'sigla_loja':'LOJA',
    'alvo':'ALVO_ALCANCADO',
    'nps':'NPS'
    }

In [126]:
# Mantendo apena Telhanorte
# Para alterar para TUMELERO: ALTERAR O SINAL PARA >
#             empresa_nps_venda_alvo=loja_nps_venda_alvo[loja_nps_venda_alvo['cod_loja']<510000]
empresa_nps_venda_alvo=loja_nps_venda_alvo

In [163]:
# PREPARANDO PLANILHA DE CHECAGEM
tina_tudo=pd.merge(
    tina_afastados,
    loja_nps_venda_alvo[['sigla_loja', 'alvo','nps']].rename(columns=RENOMEA),
    how='left',
    on='LOJA'
    )

In [164]:
tina_copia=tina_tudo

In [151]:
# CARREGANDO TODOS OS CARGOS CONTEMPLADOS PELA PREMIAÇÃO COLETIVA
#cargos=pd.read_csv(F_CARGOS, sep=';', encoding="ISO-8859-1")
cargos=pd.read_excel(F_CARGOS)
cargos['Cargo'].apply(lambda x: x.strip()) # Eliminando espaços brancos

0            ANL RH REGIONAL PL
1            Ass Administrativo
2      Ass Departamento Pessoal
3         Ass Manut Serv Gerais
4                Aux Manutenção
                 ...
101              VENDEDOR PLENO
102             VENDEDOR SENIOR
103                 Vendedor(a)
104      VENDEDOR(A) TELEVENDAS
105                   VIGILANTE
Name: Cargo, Length: 106, dtype: object

In [165]:
# ATRIBUINDO O GRUPO DE PREMIAÇÃO PARA CADA CARGO
tina_tudo=pd.merge(
    tina_tudo, 
    cargos.rename(columns={'Cargo':'CARGO'}),
    how='left',
    on=['ID_UNN','CARGO']
    )

In [167]:
tina_tudo.sample(2)

,ID_UNN,COD_LOJA,LOJA,MATRICULA,NOME,SOBRENOME,CARGO,DATA_ADMISSAO,STATUS,Centro de Resultado - Código,DIAS_ADMITIDOS,MAIS_DE15DIAS_ADMITIDOS,LOJA_ELEGIVEL,dias_afastados_totais,DIAS_ATIVOS,MAIS_DE15DIAS_ATIVOS,ALVO_ALCANCADO,NPS,Grupo
1963,4,510574,IPI,9998,RITA,PEREIRA,Vendedor(a),2013-10-14,ATIVO,298402,30,SIM,NAO,0.0,30.0,SIM,NAO,59.3,C
533,1,30,MOR,29098,DALVA,DA SILVA,Ass Serviços ao Cliente,2021-06-14,ATIVO,284402,30,SIM,NAO,0.0,30.0,SIM,NAO,55.2,D

In [168]:
# Grupos sem cargo atribuido como "NAO TINA"
tina_tudo['Grupo'].fillna('NAO TINA', inplace=True)

In [169]:
# Função para atribuir valor da premiação dependendo do grupo de cargo
def premiacao_alvo(grupo,alvo):
    global PREMIOS
    alvo1 = dict(zip(PREMIOS['Grupo'], PREMIOS['ALVO1']))
    alvo2 = dict(zip(PREMIOS['Grupo'], PREMIOS['ALVO2']))
    if alvo == 'ALVO1':
        valor=alvo1[grupo]
    elif alvo == 'ALVO2':
        valor=alvo2[grupo]
    elif alvo == 'NAO':
        valor = 0.0
    else: valor=0.0
    return valor

In [170]:
# Atribuindo valor da premiação dependendo do grupo de cargo
tina_tudo['PREMIACAO']=tina_tudo.apply(
    lambda x: premiacao_alvo(
        x['Grupo'],x['ALVO_ALCANCADO'],
    ), axis=1)

In [171]:
# Inclui coluna para checar se colaborador tem faltas injustificadas
tina_tudo=pd.merge(
    tina_tudo,
    faltas[['EMPRESA', 'MATRICULA', 'DATA DA OCORRÊNCIA']].rename(columns={'EMPRESA':'ID_UNN','DATA DA OCORRÊNCIA':'FALTAS'}),
    how='left',
    on=['ID_UNN','MATRICULA']
)

# FALTAS SEM DATA, atribuir 'NAO'
tina_tudo['FALTAS'].fillna('NAO', inplace=True)

In [174]:
tina_tudo[
    (tina_tudo['FALTAS']=='NAO')
    & (tina_tudo['PREMIACAO']>0) ].sample(3)

,ID_UNN,COD_LOJA,LOJA,MATRICULA,NOME,SOBRENOME,CARGO,DATA_ADMISSAO,STATUS,Centro de Resultado - Código,DIAS_ADMITIDOS,MAIS_DE15DIAS_ADMITIDOS,LOJA_ELEGIVEL,dias_afastados_totais,DIAS_ATIVOS,MAIS_DE15DIAS_ATIVOS,ALVO_ALCANCADO,NPS,Grupo,PREMIACAO,FALTAS
1170,1,28,SOR,9165,JOSE,DE OLIVEIRA,Vendedor(a),2006-03-13,ATIVO,294403,30,SIM,SIM,21.0,9.0,NAO,ALVO1,73.7,C,200.0,NAO
1174,1,28,SOR,14484,ARTUR,DOS SANTOS,Enc de Produto,2010-03-01,ATIVO,294401,30,SIM,SIM,0.0,30.0,SIM,ALVO1,73.7,B,400.0,NAO
1197,1,28,SOR,27121,KARINA,TSUBOI,Sup de Vendas,2019-07-01,ATIVO,294401,30,SIM,SIM,0.0,30.0,SIM,ALVO1,73.7,A,600.0,NAO

In [175]:
tina_tudo['APTO_PREMIACAO']=np.where(
    (tina_tudo['LOJA_ELEGIVEL']=='SIM') &
        (tina_tudo['MAIS_DE15DIAS_ATIVOS']=='SIM') &
        (tina_tudo['FALTAS']=='NAO') &
        (tina_tudo['Grupo']!='NAO TINA') &
        (tina_tudo['PREMIACAO']>0),
        'SIM','NAO'
    )

In [177]:
# FUNÇÃO para salvar verba para TELHANORTE ou TUMELERO
# Entradas: v verba, n nome_verba, x numero_verba, f f_nome
def salva_verba(empresa,verba,numero_verba,arquivo):
#    v.rename(columns={ v.columns[0]: 'MATRICULA'}, inplace=True)
    verba.rename(columns={ verba.columns[1]: "VALOR" }, inplace=True)
    verba['ZERO'] = 0
    verba['VERBA'] = numero_verba
    if empresa == 'TELHANORTE':
        verba=verba[['MATRICULA', 'ZERO', 'VERBA','VALOR']]
    elif empresa == 'TUMELERO':
         verba=verba[['MATRICULA', 'VERBA', 'ZERO','VALOR']]
    else: 
        print('Erro!!! Não veio a empresa nem como TELHANORTE e nem como TUMELERO')
        return
    verba = verba[verba['VALOR'] > 0]
    # Saving as a excel file for RH
    verba.to_excel(arquivo, sheet_name="VERBA "+str(numero_verba), index=False)

In [179]:
# Salva verba apuração coletiva TELHANORTE
salva_verba(
    dict_EMPRESAS[1], # ID_UNN TELHA
    tina_tudo[['MATRICULA', 'PREMIACAO']][
        (tina_tudo['ID_UNN']==1) 
        & (tina_tudo['LOJA_ELEGIVEL']=='SIM') 
        & (tina_tudo['MAIS_DE15DIAS_ATIVOS']=='SIM')
        & (tina_tudo['FALTAS']=='NAO') # considera somente os sem faltas injustificadas
    ].copy(deep=True),
    4117,
    verbas_telha['F_VERBA']) # verba TELHA somente funcionáros sem faltas injustificadas

salva_verba(
    dict_EMPRESAS[1], # ID_UNN TELHA
    tina_tudo[['MATRICULA', 'PREMIACAO']][
        (tina_tudo['ID_UNN']==1)
        & (tina_tudo['LOJA_ELEGIVEL']=='SIM') 
        & (tina_tudo['MAIS_DE15DIAS_ATIVOS']=='SIM')
    ].copy(deep=True),
    4117,
    verbas_telha['F_VERBA_SEM']) # verba TELHA sem considerar faltas injustificadas

In [180]:
# Salva verba apuração coletiva TUMELERO
salva_verba(
    dict_EMPRESAS[4], # ID_UNN TUMELERO
    tina_tudo[['MATRICULA', 'PREMIACAO']][
        (tina_tudo['ID_UNN']==4) 
        & (tina_tudo['LOJA_ELEGIVEL']=='SIM') 
        & (tina_tudo['MAIS_DE15DIAS_ATIVOS']=='SIM')
        & (tina_tudo['FALTAS']=='NAO') # considera somente os sem faltas injustificadas
    ].copy(deep=True),
    4117,
    verbas_tume['F_VERBA']) # verba tume

salva_verba(
    dict_EMPRESAS[4], # ID_UNN TUME
    tina_tudo[['MATRICULA', 'PREMIACAO']][
        (tina_tudo['ID_UNN']==4) # ID_UNN TUME
        & (tina_tudo['LOJA_ELEGIVEL']=='SIM') 
        & (tina_tudo['MAIS_DE15DIAS_ATIVOS']=='SIM')
    ].copy(deep=True),
    4117,
    verbas_tume['F_VERBA_SEM']) # VERBA TUME sem considerar faltas injustificadas

In [181]:
# SALVA PLANILHA DE CHECAGEM
tina_tudo.to_excel(FILE_CHECAGEM, index=False)