Apuração da Premiação Tina (Individual)
Cópia da apuração_premiação_individual_Tina_planilha_checagem.ipynb (27 de maio de 2022)

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

In [3]:

# Dia da apuração
hoje = pd.to_datetime('today').date()
ANO=str(hoje.year)

In [4]:
# DIA PADRÃO DE APURAÇÃO
# DIA_APURA=27
DIA_APURA=hoje.day

In [5]:
 DIA_APURA

29

In [6]:
MESES= ['jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez']
I_MESES= ['01','02','03','04','05','06','07','08','09','10','11','12']
MES=MESES[hoje.month-1]
I_MES=I_MESES[MESES.index(MES)]
I_MES_ANTERIOR=I_MESES[MESES.index(MES)-1]

In [7]:
I_MES_ANTERIOR

'03'

In [8]:
# Período de Apuração   -   Faltas injustificadas no período
# 27 de Janeiro de 2022
DATA_I = pd.to_datetime('2022-'+I_MES_ANTERIOR+'-'+str(DIA_APURA))  # data inicial AAAA-MM-DD
DATA_F = pd.to_datetime('2022-'+I_MES+'-'+str(DIA_APURA-1))  # data final AAAA-MM-DD

In [9]:
print(DATA_I)
print(DATA_F)

2022-03-29 00:00:00
2022-04-28 00:00:00

In [10]:
# PASTAS 
DIR_BASE='C:/apuracao/'
DIR_INFO=DIR_BASE+ANO+'/info/'
DIR_TINA_BASES=DIR_INFO
DIR_IN=DIR_BASE+ANO+'/'+MES+'/ORIGINAIS/'
# PASTA COM PLANILHA DE CHECAGEM PARA O ANALISTA DE NEGÓCIOS
DIRETORIO_CHECAGEM=DIR_BASE+ANO+'/'+MES+'/CHECAGEM/'

In [11]:
print(DIR_IN)

C:/apuracao/2022/abr/ORIGINAIS/

In [12]:
# Arquivos a serem importados
# Enviado por e-mail pelo Ricardo Pontes - qua 23/03/2022 16:44 - reajuste nos alvos das lojas OSA, PGD e ARP
F_ALVO = DIR_TINA_BASES+"target_salesperson.csv" # Válido a partir de abril 2022
F_VERBAS = DIR_INFO+"/verbas_descricao.xlsx"

F_LOJA_SAFRA=DIR_TINA_BASES+"lojas.csv" # Para fevereiro
#f_loja_safra = "info/lojas_pilotos_safra3.xlsx" # Exemplo de janeiro

In [13]:

# Ricardo Valdir via Teams para o Luis no dia da apuração
#f_comissao = dir_in+"LANCCOMISSAO022022.csv"
F_COMISSAO = DIR_IN+"LANC_COMISSAO_"+str(I_MES)+ANO

# Vitor (Wingg) via e-mail no dia da apuração
F_EXTRATO = DIR_IN+"extract_remuneration_"+ANO+I_MES+str(DIA_APURA)+".xlsx"

# Thayna via sharepoint antes da apuração
# F_FALTAS = DIR_IN+"FALTAS_INJUSTIFICADAS_PREMIACOES TINA_23mar2022_ThaynaCarneiro.xlsx"
F_FALTAS = DIR_IN+"PREMIACOES TINA.xlsx"

In [14]:
print('A planilha de checagem da Apuração da PREMIAÇÃO TINA INDIVIDUAL realizada em '+MES+' está aqui:')
print(DIRETORIO_CHECAGEM)
# ARQUIO DE SAÍDA PARA CHECAGEM DO ANALISTA DE NEGÓCIOS - EM EXCEL
F_SAI_CHECAGEM=DIRETORIO_CHECAGEM + "checagem_apuração_PREMIACAO_INDIVIDUAL_"+MES+".xlsx"
print(F_SAI_CHECAGEM)

A planilha de checagem da Apuração da PREMIAÇÃO TINA INDIVIDUAL realizada em abr está aqui:
C:/apuracao/2022/abr/CHECAGEM/
C:/apuracao/2022/abr/CHECAGEM/checagem_apuração_PREMIACAO_INDIVIDUAL_abr.xlsx

In [15]:
# Sufixos possíveis
sufixo="_sem_considerar_faltas_injustificadas"
#sufixo="_analista"

In [16]:
# Arquivos a serem criados para o RH baseado na planilha de apuração
DIR_RH=DIR_BASE+ANO+"/"+MES+"/"+"para_RH/"
F_VERBA_ASS=DIR_RH+"VERBA_4118_SEGMENTO_ASSESSORES.xlsx"
F_VERBA_VEN_REN=DIR_RH+"VERBA_4119_RENTABILIDADE_VENDAS.xlsx"
F_VERBA_VEN_DEC=DIR_RH+"VERBA_4120_DECORACAO_VENDAS.xlsx"
F_VERBA_VEN_SUP=DIR_RH+"VERBA_4121_SUPERACAO_VENDAS.xlsx"
F_VERBA_VEN_TEC=DIR_RH+"VERBA_4122_AREAS_TECNICAS_VENDAS.xlsx"
F_VERBA_ASS_SEM=DIR_RH+"VERBA_4118_SEGMENTO_ASSESSORES"+sufixo+".xlsx"
F_VERBA_VEN_REN_SEM=DIR_RH+"VERBA_4119_RENTABILIDADE_VENDAS"+sufixo+".xlsx"
F_VERBA_VEN_DEC_SEM=DIR_RH+"VERBA_4120_DECORACAO_VENDAS"+sufixo+".xlsx"
F_VERBA_VEN_SUP_SEM=DIR_RH+"VERBA_4121_SUPERACAO_VENDAS"+sufixo+".xlsx"
F_VERBA_VEN_TEC_SEM=DIR_RH+"VERBA_4122_AREAS_TECNICAS_VENDAS"+sufixo+".xlsx"

In [17]:
# Parâmetros do Modelo
# Modelo Vendedores
# Modelo Vendedores Comissão
gat_min_comissao = 0.0  # Gatilho minimo comissão
ANG_COEF_COMISSAO = 0.01  # Coeficiente angular = 1%
lin_coef_comissao = 0.0  # Coeficiente Linear = 0.0%

# Modelo Vendedores Comissão Turbinada Decoração
# Como as safras 1, 2 e 3 tem os mesmos valores, mantive só um valor para todas as safras
gat_min_decoracao = 0.0  # Gatilho minimo decoração
ANG_COEF_DECORACAO = 0.02  # Coeficiente angular decoração = 2%
lin_coef_decoracao = 0.0  # Coeficiente Linear decoração = 0.0%

# Modelo Vendedores Comissão turbinada Áreas Técnicas
# Como as safras 1, 2 e 3 tem os mesmos valores, mantive só um valor para todas as safras
gat_min_areastecnicas = 0.0  # Gatilho minimo Áreas Técnicas = 0.0%
ANG_COEF_AREASTECNICAS= 0.005  # Coeficiente angular Áreas Técnicas = 0.5%
lin_coef_areastecnicas = 0.0  # Coeficiente Linear decoração = 0.0%

# Modelo Vendedores Prêmio superação vendas
M1 = 100  # meta1 = 100%
M2 = 150  # meta2 = 150%
M3 = 200  # meta3 = 200%
M4 = 250  # meta4 = 250%
B1 = 300  # bonus1 = R$300,00 -> ganha se bater a meta1
B2 = 600  # bonus2 = R$600,00 -> ganha se bater a meta2
B3 = 900  # bonus3 = R$900,00 -> ganha se bater a meta3
B4 = 1200  # bonus4 = R$1200,00 -> ganha se bater a meta4

# Modelo Vendedores Prêmio Rentabilidade
GAT_MIN_RENTAB = 100.  # Tem que bater 100% da rentabilidade
ANG_COEF_RENTAB = 0.001  # Coeficiente angular da rentabilidade = 0.1%
LIN_COEF_RENTAB = -0.1  # Coeficiente linear da rentabilidade = -0.1
KICKER = 200.

In [18]:
# Parâmetros do Modelo
# Modelo Assessores
ASS_A1 = 30000  # Alvo1 = R$30.000,00
ASS_A2 = 50000  # Alvo2 = R$50.000,00
ASS_B1 = 100  # Bônus1 caso bata Alvo1
ASS_B2 = 200  # Bônus2 caso bata Alvo2

In [19]:
nome_lojas = pd.read_csv(F_LOJA_SAFRA, delimiter=";")

In [20]:
# importando as comissões
print("Importando as comissões")
print("Arquivo: "+F_COMISSAO)
column_names=[
    'N1',	
    'N2',	
    'N3',	
    'MATRICULA',	
    'POS_NEG',	 
    'VALOR',
    'NONE'
    ]
comissao = pd.read_csv(F_COMISSAO, delimiter=";", names=column_names, header=None, skiprows=1)

Importando as comissões
Arquivo: C:/apuracao/2022/abr/ORIGINAIS/LANC_COMISSAO_042022

In [21]:
# Trocando "," por "." para poder calcular os números no Python
comissao["VALOR"]=comissao["VALOR"].str.replace(",",".").astype(float)

In [23]:
##  Vendas devolvidas como negativas
print("Valores negativos para vendas devolvidas")

comissao["VALOR_COR"]=np.where(comissao["POS_NEG"]==3771, -comissao["VALOR"],comissao["VALOR"])

Valores negativos para vendas devolvidas

In [24]:
# Só matrícula e valor das vendas correspondente a essa matrícula
comissao=comissao[['MATRICULA','VALOR_COR']]

In [25]:
# Somando as vendas totais de cada matrícula
# TODO nomear origem dos arquivos 
print("Somando todas as vendas de uma matrícula:")
comissao = comissao.groupby(['MATRICULA'])['VALOR_COR'].sum().reset_index()
comissao.rename(columns={'VALOR_COR':'VENDAS_TOT'}, inplace=True)
comissao['COMISSAO']=comissao['VENDAS_TOT']*0.01

Somando todas as vendas de uma matrícula:

In [26]:
# Para visualizar as vendas totais e a comissão de um colaborador 
comissao[comissao['MATRICULA'] == 28586]

     MATRICULA  VENDAS_TOT  COMISSAO
848      28586    40672.27  406.7227

In [27]:
# Lendo os alvos que os vendedores devem atingir por loja
print("Lendo alvos das lojas no arquivo:")
print(F_ALVO)
alvos = pd.read_csv(F_ALVO, delimiter=";", header=0, skiprows=0)

Lendo alvos das lojas no arquivo:
C:/apuracao/2022/info/target_salesperson.csv

In [28]:

alvos.rename(columns={'target_sales_salesperson':'Alvo1'}, inplace=True)
alvos['Alvo1']=alvos['Alvo1'].str.replace(",",".").astype(float)

In [29]:
alvos['Minimo Garantido']=alvos['floor_remuneration'].str.replace(",",".").astype(float)

In [30]:
# Mantendo somente alvos Telhanorte
alvos=alvos[alvos['id_unn']==1] # id_unn = (1=Telhanorte; 2=Tumelero)

In [31]:
# Mantendo somente alguns parâmetros
alvos= alvos[['cod_loja','Alvo1', 'Minimo Garantido']]

In [33]:
alvos_telha=pd.merge(alvos,nome_lojas[['cod_loja','sigla_loja']],how='left',on='cod_loja')

In [34]:
# Dicionário de alvo por codigo da loja
dict_alvo=dict(zip(alvos_telha['sigla_loja'], alvos_telha['Alvo1']))

In [35]:
# Dicionário de alvo por codigo da loja
dict_minimo_garantido=dict(zip(alvos_telha['sigla_loja'], alvos_telha['Minimo Garantido']))

In [36]:
# Lendo os alvos que os vendedores devem atingir por loja
#print("Lendo alvos das lojas no arquivo:")
# print(F_ALVO)
# alvos = pd.read_excel(F_ALVO, header=0, skiprows=1)
# alvos['Minimo Garantido']=alvos['Minimo Garantido']/100.
#a[a['Loja']==7992]
# alvos.columns

In [37]:
# Lendo faltas injustificadas
print("Lendo faltas injustificadas no arquivo:")
print(F_FALTAS)
faltas_inj = pd.read_excel(F_FALTAS, header=0)

Lendo faltas injustificadas no arquivo:
C:/apuracao/2022/abr/ORIGINAIS/PREMIACOES TINA.xlsx

In [38]:
faltas = faltas_inj[(faltas_inj['DATA DA OCORRÊNCIA'] >= DATA_I) &
           (faltas_inj['DATA DA OCORRÊNCIA'] <= DATA_F)]
faltas['DATA DA OCORRÊNCIA'].sort_values()

11    2022-03-29
90    2022-03-29
150   2022-03-29
173   2022-03-29
234   2022-03-29
         ...
143   2022-04-14
288   2022-04-14
169   2022-04-14
39    2022-04-14
125   2022-04-14
Name: DATA DA OCORRÊNCIA, Length: 184, dtype: datetime64[ns]

In [40]:
# Loading Remuneration extract from Tina
print("Lendo Extrato de Remuneração da Tina")
print(F_EXTRATO)
extrato = pd.read_excel(F_EXTRATO)

Lendo Extrato de Remuneração da Tina
C:/apuracao/2022/abr/ORIGINAIS/extract_remuneration_20220429.xlsx

In [41]:
# Somente colaboradores Tina das lojas da safra
print("Considerando somente colaboradores das lojas participantes da Tina")
COLS_TO_KEEP=[
    'store_sk', 
    'registration_id', 
    'segment', 
    'job_simplified',
    'E1_gross_sales', 
    'E2_gross_sales', 
    'E3_gross_sales', 
    'gross_sales', 
    'sales_segment', 
    'rentability'
    ]
so_safra = extrato[extrato["store_sk"].isin(nome_lojas['cod_loja'])][COLS_TO_KEEP].copy(deep=True)
so_safra.columns

Considerando somente colaboradores das lojas participantes da Tina

Index(['store_sk', 'registration_id', 'segment', 'job_simplified',
       'E1_gross_sales', 'E2_gross_sales', 'E3_gross_sales', 'gross_sales',
       'sales_segment', 'rentability'],
      dtype='object')

In [42]:
#para planilha checagem
tina=so_safra.copy(deep=True)

In [43]:
# Verificando quem tem falta injustificada
tina['FALTA']=np.where(tina['registration_id'].isin(faltas['MATR EMPR'])==True,'sim','nao')

In [44]:
# Juntando nome de sigla das lojas
tina=pd.merge(
    tina.rename(columns={'store_sk':'cod_loja'}),
    nome_lojas[nome_lojas['id_unn']==1][['cod_loja', 'sigla_loja']],
    how='left',on='cod_loja'
    )

In [45]:
# Renomeando matricula para juntar com a comissão
tina.rename(columns={'registration_id':'MATRICULA'}, inplace=True)

In [46]:
# # Juntando com a comissão
tina=tina.merge(comissao,how='left',on='MATRICULA')

In [47]:

tina=pd.merge(
    tina,
    alvos_telha[['sigla_loja','Alvo1', 'Minimo Garantido']],
    how='left', on='sigla_loja'
    )

In [48]:
tina['vendas_sobre_alvo']=tina['VENDAS_TOT']/tina['Alvo1']

In [49]:
# Eliminando alvos de assessores
tina['Alvo1']=np.where(tina['job_simplified']=='assistant',np.nan,tina['Alvo1'])

In [50]:
# Eliminando minimos garantidos de assessores
tina['Minimo Garantido']=np.where(tina['job_simplified']=='assistant',np.nan,tina['Minimo Garantido'])

In [51]:
# Eliminando vendas sobre alvo de assessores
tina['vendas_sobre_alvo']=np.where(tina['job_simplified']=='assistant',np.nan,tina['vendas_sobre_alvo'])

In [52]:
tina['recebe_premiacao']=np.where(tina['vendas_sobre_alvo']>=1.,'sim','nao')

In [53]:
#Salvando verba
# Entradas: v verba, n nome_verba, x numero_verba, f f_nome
def salva_verba(v,x,f):
#    v.rename(columns={ v.columns[0]: 'MATRICULA'}, inplace=True)
    v.rename(columns={ v.columns[1]: "VALOR" }, inplace=True)
    v['ZERO'] = 0
    v['VERBA'] = x
    v=v[['MATRICULA', 'ZERO', 'VERBA','VALOR']]
    v = v[v['VALOR'] > 0]
    # Saving as a excel file for RH
    writer = pd.ExcelWriter(f, engine='xlsxwriter')  # #
    v.to_excel(writer, sheet_name="VERBA "+str(x), index=False)
    writer.save()

In [54]:
def alvo_bonus_rentabilidade(vendas_tot,rentabilidade,vendas_seg,alvo):
#     # Modelo Vendedores Prêmio Rentabilidade
#    T E S T A D O     E     C H E C A D O
# gat_min_rentab = 100.  # Tem que bater 100% da rentabilidade
# ang_coef_rentab = 0.001  # Coeficiente angular da rentabilidade = 0.1%
# lin_coef_rentab = -0.1  # Coeficiente linear da rentabilidade = -0.1
# kicker = 200.
    global GAT_MIN_RENTAB, ANG_COEF_RENTAB, LIN_COEF_RENTAB, KICKER
    if vendas_tot>=alvo and rentabilidade >= GAT_MIN_RENTAB:
    #    # TODO DELETAR SE OK
#        val_rent = KICKER DELETAR SE OK
        # TODO DELETAR SE OK
        #if (rentabilidade-GAT_MIN_RENTAB)>0: DELETAR SE OK
        val_rent=(rentabilidade*ANG_COEF_RENTAB+LIN_COEF_RENTAB)*vendas_seg+KICKER
            # val_rent=val_rent+int(r-gat_min_rentab)*ang_coef_rentab*s
    else:
        val_rent=0.0
    return val_rent

In [55]:
# Calculando rentabilidade
tina['REM_REN'] = np.where(
    tina['job_simplified']=='salesperson',
    tina.apply(
    lambda x: alvo_bonus_rentabilidade(x['VENDAS_TOT'],x['rentability'],x['sales_segment'],x['Alvo1']), axis=1
    ).copy(),np.nan
    )

In [57]:
# Salva verba rentabilidade 
salva_verba(tina[['MATRICULA','REM_REN']].copy(deep=True),4119,F_VERBA_VEN_REN_SEM)
salva_verba(tina[['MATRICULA','REM_REN']][tina['FALTA']=='nao'].copy(deep=True),4119,F_VERBA_VEN_REN)

In [58]:
# Calculating bonus for SALESPERSON
# Verba 4120 - Segmento vendedores - DECORAÇÃO
def alvo_bonus_decoracao(vendas_seg,vendas_tot,alvo):
# Modelo Vendedores Prêmio DECORAÇÃO vendas
#    T E S T A D O     E     C H E C A D O
# Modelo Vendedores Comissão Turbinada Decoração
# Como as safras 1, 2 e 3 tem os mesmos valores, mantive só um valor para todas as safras
# gat_min_decoracao = 0.0  # Gatilho minimo decoração
# ang_coef_decoracao = 0.02  # Coeficiente angular decoração = 2%
# lin_coef_decoracao = 0.0  # Coeficiente Linear decoração = 0.0%

    global ANG_COEF_DECORACAO 
    if vendas_tot>=alvo:
        bonus = vendas_seg*ANG_COEF_DECORACAO
    else:
        bonus=0.0
    return bonus

In [59]:
# Calculando Verba DECORAÇÃO 
tina['DECORACAO'] = np.where(
    tina['job_simplified']=='salesperson',
    tina.apply(
    lambda x: alvo_bonus_decoracao(x['E2_gross_sales'],x['VENDAS_TOT'],x['Alvo1']), axis=1).copy(),np.nan
    )

In [60]:
# SALVA verba DECORAÇÃO     
salva_verba(tina[['MATRICULA','DECORACAO']].copy(deep=True),4120,F_VERBA_VEN_DEC_SEM)
salva_verba(tina[['MATRICULA','DECORACAO']][tina['FALTA']=='nao'].copy(deep=True),4120,F_VERBA_VEN_DEC)

In [61]:
# Calculating bonus for SALESPERSON
def alvo_bonus_superacao(vendas_tot):
# Modelo Vendedores Prêmio superação vendas
# T E S T A D O    E    C H E C A D O 
# m1 = 100  # meta1 = 100%
# m2 = 150  # meta2 = 150%
# m3 = 200  # meta3 = 200%
# m4 = 250  # meta4 = 250%
# b1 = 300  # bonus1 = R$300,00 -> ganha se bater a meta1
# b2 = 600  # bonus2 = R$600,00 -> ganha se bater a meta2
# b3 = 900  # bonus3 = R$900,00 -> ganha se bater a meta3
# b4 = 1200  # bonus4 = R$1200,00 -> ganha se bater a meta4
    global M1, M2, M3, M4, B1, B2, B3, B4 # metas e respectivos bonus
    if vendas_tot>=M4:
        bonus = B4
    elif vendas_tot>=M3:
        bonus = B3
    elif vendas_tot>=M2:
        bonus= B2
    elif vendas_tot>=M1:
        bonus=B1
    else:
        bonus=0.0
    return bonus

In [62]:
# Calculando Prêmio SUPERAÇÃO   
tina['SUPERACAO'] = np.where(
    tina['job_simplified']=='salesperson',
    tina.apply(
    lambda x: alvo_bonus_superacao(x['VENDAS_TOT']/x['Alvo1']*100.), axis=1).copy(),np.nan
    )

In [63]:
# SALVA verba SUPERAÇÃO    
salva_verba(tina[['MATRICULA','SUPERACAO']].copy(deep=True),4121,F_VERBA_VEN_SUP_SEM)
salva_verba(tina[['MATRICULA','SUPERACAO']][tina['FALTA']=='nao'].copy(deep=True),4121,F_VERBA_VEN_SUP)

In [64]:
def alvo_bonus_areastecnicas(vendas_seg,vendas_tot,alvo):
# Modelo Vendedores Prêmio ÁREAS TÉCNICAS
#    T E S T A D O     E     C H E C A D O
# Modelo Vendedores Comissão  ÁREAS TÉCNICAS
# Como as safras 1, 2 e 3 tem os mesmos valores, mantive só um valor para todas as safras
# gat_min_areastecnicas = 0.0  # Gatilho minimo Áreas Técnicas = 0.0%
# ang_coef_areastecnicas = 0.005  # Coeficiente angular Áreas Técnicas = 0.5%
# lin_coef_areastecnicas = 0.0  # Coeficiente Linear decoração = 0.0%

    global ANG_COEF_AREASTECNICAS # gat_min_areastecnicas, ang_coef_areastecnicas, lin_coef_areastecnicas 
    if vendas_tot>=alvo:
        bonus = vendas_seg*ANG_COEF_AREASTECNICAS
    else:
        bonus=0.0
    return bonus

In [65]:
# Calculando Premiação Individual ÁREAS TÉCNICAS
tina['AREAS_TEC'] = np.where(
    tina['job_simplified']=='salesperson',
    tina.apply(
    lambda x: alvo_bonus_areastecnicas(x['E1_gross_sales'],x['VENDAS_TOT'],x['Alvo1']), axis=1).copy(),np.nan
    )

In [66]:
# SALVA verba PREMIAÇÃO ÁREAS TÉCNICAS
salva_verba(tina[['MATRICULA','AREAS_TEC']].copy(deep=True),4122,F_VERBA_VEN_TEC_SEM)
salva_verba(tina[['MATRICULA','AREAS_TEC']][tina['FALTA']=='nao'].copy(deep=True),4122,F_VERBA_VEN_TEC)

In [67]:
# Calculando Prêmio Assessor
def alvo_bonus_assessor(vendas_seg):
    global ASS_A1, ASS_A2, ASS_B1, ASS_B2 # ass_a1, ass_a2, ass_b1, ass_b2
    if vendas_seg >= ASS_A2:
        bonus = ASS_B2
    elif vendas_seg >= ASS_A1:
        bonus = ASS_B1
    else:
        bonus = 0.0
    return bonus

In [68]:
tina.columns

Index(['cod_loja', 'MATRICULA', 'segment', 'job_simplified', 'E1_gross_sales',
       'E2_gross_sales', 'E3_gross_sales', 'gross_sales', 'sales_segment',
       'rentability', 'FALTA', 'sigla_loja', 'VENDAS_TOT', 'COMISSAO', 'Alvo1',
       'Minimo Garantido', 'vendas_sobre_alvo', 'recebe_premiacao', 'REM_REN',
       'DECORACAO', 'SUPERACAO', 'AREAS_TEC'],
      dtype='object')

In [69]:
# Somente assessores
tina['PREMIO_ASSESSOR'] = np.where(
    tina['job_simplified']=='assistant',
    tina.apply(
    lambda x: alvo_bonus_assessor(x['sales_segment']), axis=1).copy(),np.nan
    )

In [70]:
tina['diferenca_vendas_Tina_ADP']=tina['gross_sales']-tina['VENDAS_TOT']

In [71]:
tina[tina['MATRICULA']==3343]

,cod_loja,MATRICULA,segment,job_simplified,E1_gross_sales,E2_gross_sales,E3_gross_sales,gross_sales,sales_segment,rentability,FALTA,sigla_loja,VENDAS_TOT,COMISSAO,Alvo1,Minimo Garantido,vendas_sobre_alvo,recebe_premiacao,REM_REN,DECORACAO,SUPERACAO,AREAS_TEC,PREMIO_ASSESSOR,diferenca_vendas_Tina_ADP
8,30.0,3343.0,E3,salesperson,34139.104,3474.379,427426.25,467757.733,427426.25,103.647421,nao,MOR,467757.73,4677.5773,270000.0,1985.0,1.732436,sim,1759.003543,69.48758,600.0,170.69552,NaN,0.003

In [72]:
tina.columns

Index(['cod_loja', 'MATRICULA', 'segment', 'job_simplified', 'E1_gross_sales',
       'E2_gross_sales', 'E3_gross_sales', 'gross_sales', 'sales_segment',
       'rentability', 'FALTA', 'sigla_loja', 'VENDAS_TOT', 'COMISSAO', 'Alvo1',
       'Minimo Garantido', 'vendas_sobre_alvo', 'recebe_premiacao', 'REM_REN',
       'DECORACAO', 'SUPERACAO', 'AREAS_TEC', 'PREMIO_ASSESSOR',
       'diferenca_vendas_Tina_ADP'],
      dtype='object')

In [73]:
# SALVA verba PREMIAÇÃO ASSESSOR
salva_verba(tina[['MATRICULA','PREMIO_ASSESSOR']].copy(deep=True),4118,F_VERBA_ASS_SEM)

In [74]:
salva_verba(tina[['MATRICULA','PREMIO_ASSESSOR']][tina['FALTA']=='nao'].copy(deep=True),4118,F_VERBA_ASS)

In [75]:
tina.to_excel(F_SAI_CHECAGEM)