In [1]:
import pandas as pd
import numpy as np

In [2]:
#sufixo="_ativos_mes_anterior"
sufixo="_verificando_afastados_lojas_tina"

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
ID_UNN=1 # 1=TELHANORTE   2=TUMELERO

In [5]:
# MÍNIMO NPS CONSIDERADO PARA ELEGIBILIDADE DA LOJA AO PRÊMIO COLETIVO TINA
NPS_ALVO=65

In [6]:
# Dia da apuração
#hoje = pd.to_datetime('today').date()
hoje = pd.to_datetime('2022-05-27')
ANO=str(hoje.year)

In [7]:
hoje.month

5

In [8]:
# DIA PADRÃO DE APURAÇÃO
#DIA_APURA=27
DIA_APURA=hoje.day

In [9]:
# Dias a serem considerados
MES_COMERCIAL=30 # MES COMERCIAL TEM 30 DIAS
MEIO_MES=int(MES_COMERCIAL/2.)

In [10]:
MESES= ['jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez']
I_MESES= ['01','02','03','04','05','06','07','08','09','10','11','12']
MES=MESES[hoje.month-1]
I_MES=I_MESES[MESES.index(MES)]
I_MES_ANTERIOR=I_MESES[MESES.index(MES)-1]

In [11]:
MES_ANTERIOR=MESES[MESES.index(MES)-1]
MES_ANTERIOR

'abr'

In [12]:
print('Como a apuração está sendo feita em '+MES+', a apuração coletiva será correspondente ao do mês anterior '+MES_ANTERIOR)

Como a apuração está sendo feita em mai, a apuração coletiva será correspondente ao do mês anterior abr

In [13]:
I_DIAS=pd.to_datetime(ANO+'-'+I_MES_ANTERIOR).days_in_month

In [14]:
print(str(I_DIAS)+' dias em '+MES_ANTERIOR)

30 dias em abr

In [15]:
# IDENTIFICAÇÃO SE TELHANORTE OU TUMELERO
ID_UNN=1 # 1=TELHANORTE    4=TUMELERO
if ID_UNN == 1:
    empresa='TELHANORTE'
elif ID_UNN == 4:
    empresa = 'TUMELERO'
else: 
    print('ID_UNN deve ser 1=TELHANORTE    4=TUMELERO ')
    print('Abortando notebook!!!!')
    class StopExecution(Exception):
        def _render_traceback_(self):
            pass

    raise StopExecution

print('Apuração da Premiação Coletiva para '+empresa)

Apuração da Premiação Coletiva para TELHANORTE

In [16]:
# Período de Apuração   -   Faltas injustificadas no período
# Fevereiro de 2022
DATA_I = pd.to_datetime(ANO+'-'+I_MES_ANTERIOR+'-01', format='%Y/%m/%d')  # data inicial AAAA-MM-DD
DATA_F = pd.to_datetime(ANO+'-'+I_MES_ANTERIOR+'-'+str(I_DIAS), format='%Y/%m/%d')  # data final AAAA-MM-DD
print('Considerando ')
print('Data de início:')
print(DATA_I.date())
print('')
print('Data final:')
print(DATA_F.date())

Considerando
Data de início:
2022-04-01

Data final:
2022-04-30

In [17]:
# Diretório ou pasta base
DIRETORIO='C:/apuracao/'+empresa+'/'
print('Dentro da pasta '+DIRETORIO+' tem a pasta ano e mês? Se não crie como explicado a seguir.')

Dentro da pasta C:/apuracao/TELHANORTE/ tem a pasta ano e mês? Se não crie como explicado a seguir.

In [18]:
# PASTAS 

DIR_BASE='C:/apuracao/'+empresa+'/'
DIR_INFO='C:/apuracao/info/'
DIR_TINA_BASES=DIR_INFO
DIR_IN=DIR_BASE+ANO+'/'+MES+'/ORIGINAIS/'
# PASTA COM PLANILHA DE CHECAGEM PARA O ANALISTA DE NEGÓCIOS
DIRETORIO_CHECAGEM=DIR_BASE+ANO+'/'+MES+'/CHECAGEM/'

In [19]:
print('A apuração da premiação coletiva é correspondente ao mês anterior.')
print('Portanto, buscar arquivos do mês anterior na pasta:')
DIRETORIO_ANTERIOR=DIRETORIO+ANO+'/'+MES_ANTERIOR+'/'
print(DIRETORIO_ANTERIOR)

A apuração da premiação coletiva é correspondente ao mês anterior.
Portanto, buscar arquivos do mês anterior na pasta:
C:/apuracao/TELHANORTE/2022/abr/

In [20]:
# PASTA COM ARQUIVOS BASES DO RH
DIRETORIO_ENTRA=DIRETORIO+ANO+'/'+MES+'/ORIGINAIS/'
print('Pasta:')
print(DIRETORIO_ENTRA)
print('Coloque nesta pasta os arquivos bases vindos do RH no mês da apuração:')
print('     base de ativos, ')
print('     base de falta injustificada; e')
print('     base de afastamentos.')

Pasta:
C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/
Coloque nesta pasta os arquivos bases vindos do RH no mês da apuração:
     base de ativos,
     base de falta injustificada; e
     base de afastamentos.

In [21]:
# PASTA COM BASES DE VENDAS PUXADAS DO MicroStrategy
DIRETORIO_VENDAS_NPS=DIRETORIO_ENTRA # pasta com vendas do MicroStrategy
print('Pasta:')
print(DIRETORIO_VENDAS_NPS)
print('Coloque nesta pasta a base de VENDAS de '+MES_ANTERIOR+' puxadas no MicroStrategy.')

Pasta:
C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/
Coloque nesta pasta a base de VENDAS de abr puxadas no MicroStrategy.

In [22]:
# PASTA COM BASES DE NPS 
print('Pasta:')
print(DIRETORIO_VENDAS_NPS)
print('Coloque nesta pasta a base de NPS de '+MES_ANTERIOR+' baixada do SOLUX.')

Pasta:
C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/
Coloque nesta pasta a base de NPS de abr baixada do SOLUX.

In [23]:
# PASTA COM PLANILHA DE CHECAGEM PARA O ANALISTA DE NEGÓCIOS
DIRETORIO_CHECAGEM=DIRETORIO+ANO+'/'+MES+'/CHECAGEM/'
print('A planilha de checagem da apuração coletiva realizada em '+MES+' está aqui:')
print(DIRETORIO_CHECAGEM)

A planilha de checagem da apuração coletiva realizada em mai está aqui:
C:/apuracao/TELHANORTE/2022/mai/CHECAGEM/

In [24]:
DIRETORIO_INFO='C:/apuracao/info/'
print('Pasta com informações bases: '+DIRETORIO_INFO)
print('Aqui deve ter os arquivos com:')

Pasta com informações bases: C:/apuracao/info/
Aqui deve ter os arquivos com:

In [25]:
# PASTA DE SAÍDA DAS VERBAS DE PREMIAÇÕES TINA EM EXCEL A SEREM ENVIADOS AO RH
DIRETORIO_SAI=DIRETORIO+ANO+'/'+MES+'/para_RH/'

In [26]:
# ARQUIVO DE ENTRADA: VALORES DE PREMIAÇÃO POR GRUPO DE CARGOS
F_PREMIO_CARGO=DIRETORIO_INFO+'premiacao_cargo_alvo.csv'
print(F_PREMIO_CARGO)

C:/apuracao/info/premiacao_cargo_alvo.csv

In [27]:
# ARQUIVO DE SAÍDA PARA O RH - EM EXCEL
FILE_SAI=DIRETORIO_SAI + "VERBA_4117_PREMIACAO_COLETIVA"+sufixo+".xlsx"
FILE_SAI_SEM=DIRETORIO_SAI + "VERBA_4117_PREMIACAO_COLETIVA_sem_considerar_falta_injustificada"+sufixo+".xlsx"
print('Arquivos de saída para RH')
print(FILE_SAI)

Arquivos de saída para RH
C:/apuracao/TELHANORTE/2022/mai/para_RH/VERBA_4117_PREMIACAO_COLETIVA_verificando_afastados_lojas_tina.xlsx

In [28]:
print('Arquivos de backup SEM CONSIDERAR FALTA INJUSTIFICADA')
print(FILE_SAI_SEM)

Arquivos de backup SEM CONSIDERAR FALTA INJUSTIFICADA
C:/apuracao/TELHANORTE/2022/mai/para_RH/VERBA_4117_PREMIACAO_COLETIVA_sem_considerar_falta_injustificada_verificando_afastados_lojas_tina.xlsx

In [29]:
# ARQUIO DE SAÍDA PARA CHECAGEM DO ANALISTA DE NEGÓCIOS - EM EXCEL
FILE_CHECAGEM=DIRETORIO_CHECAGEM + "CHECANDO_APURACAO_COLETIVA"+sufixo+".xlsx"
print('Planilha para checar a situação dos colaboradores em relação à Premiação Coletiva Tina')
print(FILE_CHECAGEM)

Planilha para checar a situação dos colaboradores em relação à Premiação Coletiva Tina
C:/apuracao/TELHANORTE/2022/mai/CHECAGEM/CHECANDO_APURACAO_COLETIVA_verificando_afastados_lojas_tina.xlsx

In [30]:
# ARQUIO DE SAÍDA PARA CHECAGEM DO ANALISTA DE NEGÓCIOS - EM EXCEL
FILE_CHECAGEM_LOJAS=DIRETORIO_CHECAGEM + "CHECANDO_LOJAS_APURACAO_COLETIVA"+sufixo+".xlsx"
print('Planilha para checar lojas elegíveis à Premiação Coletiva Tina')
print(FILE_CHECAGEM_LOJAS)

Planilha para checar lojas elegíveis à Premiação Coletiva Tina
C:/apuracao/TELHANORTE/2022/mai/CHECAGEM/CHECANDO_LOJAS_APURACAO_COLETIVA_verificando_afastados_lojas_tina.xlsx

In [31]:
# ARQUIO DE SAÍDA PARA CHECAGEM DO ANALISTA DE NEGÓCIOS - EM EXCEL
FILE_CHECAGEM_AFASTADOS=DIRETORIO_CHECAGEM + "CHECANDO_AFASTADOS_APURACAO_COLETIVA"+sufixo+".xlsx"
print('Planilha para checar base de afastados')
print(FILE_CHECAGEM_AFASTADOS)

Planilha para checar base de afastados
C:/apuracao/TELHANORTE/2022/mai/CHECAGEM/CHECANDO_AFASTADOS_APURACAO_COLETIVA_verificando_afastados_lojas_tina.xlsx

In [32]:
# ARQUIVO DE ENTRADA: VALORES DE PREMIAÇÃO POR GRUPO DE CARGOS
F_PREMIO_CARGO=DIRETORIO_INFO+'premiacao_cargo_alvo.csv'
print(F_PREMIO_CARGO)

C:/apuracao/info/premiacao_cargo_alvo.csv

In [33]:
# ARQUIVO DE ENTRADA: CARGOS CONTEMPLADO PELA PREMIAÇÃO COLETIVA TINA
F_CARGOS=DIRETORIO_INFO+'cargos_contemplados_grupo.csv'
print(F_CARGOS)

C:/apuracao/info/cargos_contemplados_grupo.csv

In [34]:
# ARQUIVO DE ENTRADA: LOJAS TINA ROLL-OUT DE JANEIRO DE 2022 COM COD_LOJA, SIGLA E NOME
FILE_LOJAS_TINA=DIRETORIO_INFO+'lojas_pilotos_rollout.csv'
print(FILE_LOJAS_TINA)

C:/apuracao/info/lojas_pilotos_rollout.csv

In [35]:
# ARQUIVO DE ENTRADA: ALVOS COLETIVOS DAS LOJAS
F_ALVOS=DIRETORIO_INFO+'target_store.csv'
print('Arquivo de alvos coletivos')
print(F_ALVOS)

Arquivo de alvos coletivos
C:/apuracao/info/target_store.csv

In [36]:
# ARQUIVO DE ENTRADA: NPS DAS LOJAS
FILE_NPS=DIRETORIO_VENDAS_NPS+'Ranking NPS.csv'
print(''+FILE_NPS)

C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/Ranking NPS.csv

In [37]:
# ARQUIVO DE ENTRADA: VENDAS DO MÊS ANTERIOR 
FILE_VENDAS=DIRETORIO_VENDAS_NPS+'RECEITA_LOJA_MENSAL.xlsx'
print(FILE_VENDAS)

C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/RECEITA_LOJA_MENSAL.xlsx

In [38]:
# ARQUIVO DE ENTRADA: faltas injustificadas do mês e do mês anterior
F_FALTAS = DIRETORIO_ENTRA+"PREMIACOES TINA.xlsx"
F_FALTAS_MES_ANTERIOR=DIRETORIO_ANTERIOR+"ORIGINAIS/PREMIACOES TINA.xlsx"
print(F_FALTAS_MES_ANTERIOR)
print(F_FALTAS)

C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/PREMIACOES TINA.xlsx
C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/PREMIACOES TINA.xlsx

ELEGIBILIDADE DAS LOJAS À PREMIAÇÃO COLETIVA TINA

In [39]:
# CARREGANDO PRÊMIOS POR GRUPO DE CARGOS 
PREMIOS=pd.read_csv(F_PREMIO_CARGO, sep=';')

In [40]:
# CARREGANDO TODAS AS LOJAS TINA DO ROLL-OUT DA TELHANORTE
lojas_tina=pd.read_csv(FILE_LOJAS_TINA,sep=';', encoding='latin1')

In [41]:
# CARREGANDO SOMENTE AS LOJAS TINA DA EMPRESA SELECIONADA
lojas_tina=lojas_tina[lojas_tina['id_unn']==ID_UNN]

In [42]:
#TODO Se o mês for janeiro, pegar dezembro do ano anteriorf

# if MESES.index(MES) == 0:
#     MES_ANTERIOR=MES[11]
#     DIRETORIO_ANTERIOR=DIRETORIO+str(int(float(ANO))-1)+'/'+MES_ANTERIOR+'/originais/'
#     print(DIRETORIO_ANTERIOR)

# print(DIRETORIO_ANTERIOR)

In [43]:
# CARREGANDO ALVOS COLETIVOS DAS LOJAS
print('Carregando alvos coletivos do arquivo:')
print(F_ALVOS)
alvos=pd.read_csv(F_ALVOS, sep=';', encoding='latin1')

Carregando alvos coletivos do arquivo:
C:/apuracao/info/target_store.csv

In [44]:
# FILTRANDO ALVOS DO MÊS ANTERIOR
alvos=alvos[(alvos['id_unn']==ID_UNN) & (alvos['id_mes']==int(float(ANO+I_MES_ANTERIOR)))].copy(deep=True)

In [45]:
alvos[['target_sales_store_1','target_sales_store_2']]

    target_sales_store_1 target_sales_store_2
117            4222728,8            4417709,0
118            1599579,8            1698419,8
119            8462883,2            8794235,2
120            2257801,4            2418465,0
121            2513036,8            2695488,8
122            1507591,6            1625142,6
123            1702625,9            1820096,9
124            3042991,7            3206973,5
125            3011064,1            3203174,4
126            2348110,5            2479512,1
127            3290751,4            3501658,0
128            8026309,3            8302750,5
129            5201755,3            5417401,0
130            2437709,9            2612566,1
131           19556613,9           20365671,2
132           10474420,3           10843131,3
133            2024387,5            2169889,3
134            2593292,2            2772994,0
135            1768299,2            1951613,8
136            3025118,3            3200656,9
137            2538288,0            2689959,2
138            2933833,9            3213696,0
139            2927500,0            3139764,0
140            2566427,7            2726896,2
141            3627298,9            3868502,8
142            2728980,7            2893057,8
143            2982560,6            3141049,0
144            5139625,0            5351773,8
145            1753628,4            1873649,8
146            5040451,7            5269598,3
147            3843981,4            4039012,2
148            2277617,2            2415186,4
149            4403924,9            4614318,0
150            3021009,3            3188369,9
151            2126227,5            2274356,1
152            3809932,5            3991700,8
153            1892494,0            2039985,9
154            1548967,7            1651054,7
155            6496375,0            6800431,9

In [46]:
# CARREGANDO AS VENDAS DO MES ANTERIOR
print(FILE_VENDAS)
vendas=pd.read_excel(FILE_VENDAS) # 
if any(vendas['Loja']=="Total"): # Eliminando a linha com vendas totais
    vendas=vendas[vendas['Loja']!='Total']

C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/RECEITA_LOJA_MENSAL.xlsx

c:\Users\C1075636\Miniconda3\envs\tina\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [47]:
# transformando vendas de caracteres para número
vendas = vendas[['Loja', 'Venda Bruta (Receita Caixa)']].rename(
        columns={'Loja':'cod_loja','Venda Bruta (Receita Caixa)':'Venda_Total'})

In [48]:
vendas['cod_loja']=vendas['cod_loja'].astype(float).astype(int)

In [49]:
# CARREGANDO NPS DAS LOJAS
print('Carregando NPS das lojas')
print(FILE_NPS)
nps_lojas=pd.read_csv(FILE_NPS,sep=';')

Carregando NPS das lojas
C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/Ranking NPS.csv

In [50]:
# ORGANIZANDO VENDAS POR LOJA
loja_nps_venda_alvo=pd.merge(
    lojas_tina[['cod_loja', 'sigla_loja']],
    vendas, 
    how='left',on='cod_loja'
    )

In [51]:
# JUNTANDO NPS ÀS VENDAS
loja_nps_venda_alvo=pd.merge(
    loja_nps_venda_alvo,
    nps_lojas[['externalId','nps']].rename(
        columns={'externalId':'cod_loja'}
        ),how='left',on='cod_loja'
    )

In [52]:
# JUNTANDO OS ALVOS COLETIVOS ÀS VENDAS E NPS
loja_nps_venda_alvo=pd.merge(
    loja_nps_venda_alvo,
    alvos[['id_fil', 'id_mes', 'target_sales_store_1',
       'target_sales_store_2']].rename(
        columns={'id_fil':'cod_loja'}
        ),how='left',on='cod_loja'
    )

In [53]:
# TRANSFORMANDO OS CARACTERES DA NPS EM NÚMEROS 
# REMOVENDO % DE nps e trocando a vírgula por ponto e obter número com decimal
loja_nps_venda_alvo['nps']=loja_nps_venda_alvo['nps'].str.replace("%","")
loja_nps_venda_alvo['nps']=loja_nps_venda_alvo['nps'].str.replace(",",".").astype(float)

In [54]:
# TRANSFORMANDO OS CARACTERES DOS ALVOS EM NÚMEROS 
# REMOVENDO % DE nps e trocando a vírgula por ponto e obter número com decimal
loja_nps_venda_alvo['target_sales_store_1']=loja_nps_venda_alvo['target_sales_store_1'].str.replace(",",".").astype(float)
loja_nps_venda_alvo['target_sales_store_2']=loja_nps_venda_alvo['target_sales_store_2'].str.replace(",",".").astype(float)

In [55]:
# FUNÇÃO PARA VERIFICAR SE ATINTIU ALVO1 OU ALVO2 OU NENHUM
def alvo_alcancado(venda, alvo1, alvo2):
    if venda >= alvo2:
        alvo='ALVO2'
    elif venda >= alvo1:
        alvo='ALVO1'
    else: alvo = 'NAO'
    return alvo

In [56]:
# VERIFICANDO SE A LOJA BATEU ALVO1, ALVO2 OU NÃO BATEU O ALVO
loja_nps_venda_alvo['alvo']=loja_nps_venda_alvo.apply(
    lambda x: alvo_alcancado(
        x['Venda_Total'], x['target_sales_store_1'], x['target_sales_store_2']
        ), axis=1).copy()

In [57]:
# FUNÇÃO PARA VERFICAR SE A LOJA BATEU A META DE NPS
def nps_alcancado(nps):
    global NPS_ALVO
    if nps >=NPS_ALVO:
        nps_loja='SIM'
    else: nps_loja = 'NAO'
    return nps_loja

In [58]:
# Incluindo parâmetro para verificar se a loja alcançou a NPS estabelecida
loja_nps_venda_alvo['NPS_alcancado']=loja_nps_venda_alvo['nps'].apply(
    lambda x: nps_alcancado(x)).copy()

In [59]:
# CHECAGEM DAS LOJAS QUE ALCANÇARAM O ALVO
loja_nps_venda_alvo[
    (loja_nps_venda_alvo['alvo'] != 'NAO')
]

,cod_loja,sigla_loja,Venda_Total,nps,id_mes,target_sales_store_1,target_sales_store_2,alvo,NPS_alcancado
3,43,TAT,3116576.28,66.7,202204,3021009.3,3188369.9,ALVO1,SIM
5,12,JDI,5629601.58,68.6,202204,5201755.3,5417401.0,ALVO2,SIM
18,3,MGN,19755502.86,55.4,202204,19556613.9,20365671.2,ALVO1,NAO
31,48,BRG,1595695.62,67.4,202204,1507591.6,1625142.6,ALVO1,SIM
38,72,SCA,1792661.11,81.8,202204,1753628.4,1873649.8,ALVO1,SIM

In [132]:
loja_nps_venda_alvo['LOJA_ELEGIVEL']=np.where(
    (loja_nps_venda_alvo['alvo'] != 'NAO') &
    (loja_nps_venda_alvo['NPS_alcancado'] == 'SIM'),
    'SIM',
    'NAO'
    )

In [60]:
# Obtendo somente as lojas elegíveis à premiação coletiva da Tina 
print('LOJAS ELEGÍVEIS À PREMIAÇÃO COLETIVA:')
lojas_elegiveis = loja_nps_venda_alvo[
    (loja_nps_venda_alvo['alvo'] != 'NAO') & 
    (loja_nps_venda_alvo['NPS_alcancado'] == 'SIM')
    ].copy(deep=True)
lojas_elegiveis

LOJAS ELEGÍVEIS À PREMIAÇÃO COLETIVA:

,cod_loja,sigla_loja,Venda_Total,nps,id_mes,target_sales_store_1,target_sales_store_2,alvo,NPS_alcancado
3,43,TAT,3116576.28,66.7,202204,3021009.3,3188369.9,ALVO1,SIM
5,12,JDI,5629601.58,68.6,202204,5201755.3,5417401.0,ALVO2,SIM
31,48,BRG,1595695.62,67.4,202204,1507591.6,1625142.6,ALVO1,SIM
38,72,SCA,1792661.11,81.8,202204,1753628.4,1873649.8,ALVO1,SIM

In [133]:
# CRIANDO PLANILHA DE CHECAGEM PARA META DE NPS E VENDAS DAS LOJAS
loja_nps_venda_alvo.to_excel(FILE_CHECAGEM_LOJAS, index=False)

In [134]:
import os
# ARQUIVO DE ENTRADA: base de afastados do mês anterior
for file in os.listdir(DIRETORIO_ENTRA):
    if file.startswith('wr2w') & file.endswith('.xlsx'):
        F_AFASTADOS=os.path.join(DIRETORIO_ENTRA, file)
F_AFASTADOS # BASE DE AFASTAMENTOS DESDE O INÍCIO ATÉ O MÊS ANTERIOR

'C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/wr2w-run-get.xlsx'

In [135]:
# Lendo base de afastados
print("Lendo base de afastados no arquivo:")
print(F_AFASTADOS)
base_afastados = pd.read_excel(F_AFASTADOS) # afastados=

Lendo base de afastados no arquivo:
C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/wr2w-run-get.xlsx

In [136]:
# Removendo espaços em branco do nome da coluna 
base_afastados.columns = base_afastados.columns.str.strip()
print(base_afastados.columns)

Index(['Empresa - Código', 'Estabelecimento - Código',
       'Estabelecimento - Nome', 'Matrícula', 'Nome', 'Função - Nome',
       'Centro de Resultado - Código', 'Centro de Resultado - Nome',
       'Data da Admissão', 'Data Afastamento', 'Data Retorno', 'Motivo',
       'Sigla do Motivo'],
      dtype='object')

In [137]:
# ELIMINA ESPAÇOS EM BRANCO ANTES E DEPOIS DA DATA
base_afastados['Data da Admissão']=base_afastados['Data da Admissão'].apply(
    lambda x: x.strip()
    )
base_afastados['Data Afastamento']=base_afastados['Data Afastamento'].apply(
    lambda x: x.strip()
    )
base_afastados['Data Retorno']=base_afastados['Data Retorno'].apply(
    lambda x: x.strip()
    )

In [138]:
# PARÂMETROS NECESSÁRIOS DOS AFASTADOS
PARAMETROS=[
    'Empresa - Código', 
    'Estabelecimento - Código',
    'Estabelecimento - Nome', 
    'Matrícula', 
    'Nome', 
    'Função - Nome',
    'Centro de Resultado - Código', 
    'Centro de Resultado - Nome',
    'Data da Admissão',
    'Data Afastamento',
    'Data Retorno',
    'Motivo',
]

In [139]:
# Para renomear  os parâmetros da base de afastados
RENOMEA={
    'Empresa - Código': 'EMPRESA',
    'Estabelecimento - Código': 'COD_LOJA', 
    'Estabelecimento - Nome': 'ESTABELECIMENTO', 
    'Matrícula':'MATRICULA', 
    'Nome':'NOME',
    'Função - Nome': 'CARGO',
    'Data da Admissão':'DATA_ADMISSAO', 
    'Data Afastamento':'DATA_AFASTAMENTO', 
    'Data Retorno':'DATA_RETORNO',   
    'Tipo de Afastamento':'MOTIVO'
    }

# Renomeando as colunas da base de afastados com nome da direita pelo da esquerda
afastados=base_afastados[PARAMETROS].rename(columns=RENOMEA)

In [140]:
afastados

,EMPRESA,COD_LOJA,ESTABELECIMENTO,MATRICULA,NOME,CARGO,Centro de Resultado - Código,Centro de Resultado - Nome,DATA_ADMISSAO,DATA_AFASTAMENTO,DATA_RETORNO,Motivo
0,1,20,Saint-Gobain Distribuição Brasil Ltda - ARI,27,NILTON JESUS DOS SANTOS ...,Enc Depósito,244406,ARI - DEPOSITO LOJA,01/06/1991,10/01/2022,09/02/2022,Férias
1,1,20,Saint-Gobain Distribuição Brasil Ltda - ARI,27,NILTON JESUS DOS SANTOS ...,Enc Depósito,244406,ARI - DEPOSITO LOJA,01/06/1991,31/03/2021,04/04/2021,Atestado Médico
2,1,20,Saint-Gobain Distribuição Brasil Ltda - ARI,27,NILTON JESUS DOS SANTOS ...,Enc Depósito,244406,ARI - DEPOSITO LOJA,01/06/1991,17/03/2021,31/03/2021,Atestado Médico
3,1,20,Saint-Gobain Distribuição Brasil Ltda - ARI,27,NILTON JESUS DOS SANTOS ...,Enc Depósito,244406,ARI - DEPOSITO LOJA,01/06/1991,11/03/2021,17/03/2021,Atestado Médico
4,1,20,Saint-Gobain Distribuição Brasil Ltda - ARI,27,NILTON JESUS DOS SANTOS ...,Enc Depósito,244406,ARI - DEPOSITO LOJA,01/06/1991,11/01/2021,01/02/2021,Férias
...,...,...,...,...,...,...,...,...,...,...,...,...
22281,1,10,Saint-Gobain Distribuição Brasil Ltda - MGN,29815,KAROLINA BELMONTE VON DER HEYDE ...,Ger Recursos Humanos,101555,DRH - REGIONAL RH,21/01/2015,14/05/2018,24/05/2018,Férias
22282,1,10,Saint-Gobain Distribuição Brasil Ltda - MGN,29815,KAROLINA BELMONTE VON DER HEYDE ...,Ger Recursos Humanos,101555,DRH - REGIONAL RH,21/01/2015,28/08/2017,07/09/2017,Férias
22283,1,10,Saint-Gobain Distribuição Brasil Ltda - MGN,29815,KAROLINA BELMONTE VON DER HEYDE ...,Ger Recursos Humanos,101555,DRH - REGIONAL RH,21/01/2015,13/03/2017,02/04/2017,Férias
22284,1,10,Saint-Gobain Distribuição Brasil Ltda - MGN,29815,KAROLINA BELMONTE VON DER HEYDE ...,Ger Recursos Humanos,101555,DRH - REGIONAL RH,21/01/2015,25/07/2016,04/08/2016,Férias
22285,1,10,Saint-Gobain Distribuição Brasil Ltda - MGN,29815,KAROLINA BELMONTE VON DER HEYDE ...,Ger Recursos Humanos,101555,DRH - REGIONAL RH,21/01/2015,14/03/2016,03/04/2016,Férias

In [141]:
afastados['LOJA']=afastados['ESTABELECIMENTO'].apply(
    lambda x: x.strip()[-3:]
)

afastados

,EMPRESA,COD_LOJA,ESTABELECIMENTO,MATRICULA,NOME,CARGO,Centro de Resultado - Código,Centro de Resultado - Nome,DATA_ADMISSAO,DATA_AFASTAMENTO,DATA_RETORNO,Motivo,LOJA
0,1,20,Saint-Gobain Distribuição Brasil Ltda - ARI,27,NILTON JESUS DOS SANTOS ...,Enc Depósito,244406,ARI - DEPOSITO LOJA,01/06/1991,10/01/2022,09/02/2022,Férias,ARI
1,1,20,Saint-Gobain Distribuição Brasil Ltda - ARI,27,NILTON JESUS DOS SANTOS ...,Enc Depósito,244406,ARI - DEPOSITO LOJA,01/06/1991,31/03/2021,04/04/2021,Atestado Médico,ARI
2,1,20,Saint-Gobain Distribuição Brasil Ltda - ARI,27,NILTON JESUS DOS SANTOS ...,Enc Depósito,244406,ARI - DEPOSITO LOJA,01/06/1991,17/03/2021,31/03/2021,Atestado Médico,ARI
3,1,20,Saint-Gobain Distribuição Brasil Ltda - ARI,27,NILTON JESUS DOS SANTOS ...,Enc Depósito,244406,ARI - DEPOSITO LOJA,01/06/1991,11/03/2021,17/03/2021,Atestado Médico,ARI
4,1,20,Saint-Gobain Distribuição Brasil Ltda - ARI,27,NILTON JESUS DOS SANTOS ...,Enc Depósito,244406,ARI - DEPOSITO LOJA,01/06/1991,11/01/2021,01/02/2021,Férias,ARI
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22281,1,10,Saint-Gobain Distribuição Brasil Ltda - MGN,29815,KAROLINA BELMONTE VON DER HEYDE ...,Ger Recursos Humanos,101555,DRH - REGIONAL RH,21/01/2015,14/05/2018,24/05/2018,Férias,MGN
22282,1,10,Saint-Gobain Distribuição Brasil Ltda - MGN,29815,KAROLINA BELMONTE VON DER HEYDE ...,Ger Recursos Humanos,101555,DRH - REGIONAL RH,21/01/2015,28/08/2017,07/09/2017,Férias,MGN
22283,1,10,Saint-Gobain Distribuição Brasil Ltda - MGN,29815,KAROLINA BELMONTE VON DER HEYDE ...,Ger Recursos Humanos,101555,DRH - REGIONAL RH,21/01/2015,13/03/2017,02/04/2017,Férias,MGN
22284,1,10,Saint-Gobain Distribuição Brasil Ltda - MGN,29815,KAROLINA BELMONTE VON DER HEYDE ...,Ger Recursos Humanos,101555,DRH - REGIONAL RH,21/01/2015,25/07/2016,04/08/2016,Férias,MGN
22285,1,10,Saint-Gobain Distribuição Brasil Ltda - MGN,29815,KAROLINA BELMONTE VON DER HEYDE ...,Ger Recursos Humanos,101555,DRH - REGIONAL RH,21/01/2015,14/03/2016,03/04/2016,Férias,MGN

In [142]:
lojas_tina

    id_unn  cod_loja sigla_loja  safra                 loja Unnamed: 5
0        1        19        IMI      1           IMIGRANTES        NaN
1        1        25        ZNO      1           ZONA NORTE        NaN
2        1        28        SOR      1             SOROCABA        NaN
3        1        43        TAT      1              TATUAPÉ        NaN
4        1         8        PGD      2         PRAIA GRANDE        NaN
5        1        12        JDI      2              JUNDIAÍ        NaN
6        1        27        OSA      2               OSASCO        NaN
7        1        31        BEL      2            BELVEDERE        NaN
8        1        38        DPE      2            DOM PEDRO        NaN
9        1        40        TAM      2              TAMBORÉ        NaN
10       1        54        MGA      2              MARINGÁ        NaN
11       1        57        ARP      2         ARICANDUVA 2        NaN
12       1        70        WHL      2              W. LUIS        NaN
13       1        71        RDV      2            RODA VIVA        NaN
14       1        73        TBT      2              TAUBATÉ        NaN
15       1        74        RPT      2       RIBEIRÃO PRETO        NaN
16       1        75        AMZ      2             AMAZONAS        NaN
17       1         1        ANH      3           ANHANGUERA        NaN
18       1         3        MGN      3             MARGINAL        NaN
19       1         9        SA1      3        SANTO ANDRÉ 1        NaN
20       1        22        TAB      3              TABOÃO        NaN
21       1        23        PMG      3         PRO-MARGINAL        NaN
22       1        24        ARI      3         ARICANDUVA 1        NaN
23       1        26        SJC      3  SÃO JOSÉ DOS CAMPOS        NaN
24       1        29        PAR      3       PRO-ARICANDUVA        NaN
25       1        30        MOR      3              MORUMBI        NaN
26       1        32        GRU      3            GUARULHOS        NaN
27       1        34        PAM      3             PAMPULHA        NaN
28       1        36        CTG      3             CONTAGEM        NaN
29       1        37        PIR      3           PIRACICABA        NaN
30       1        39        UBE      3           UBERLÂNDIA        NaN
31       1        48        BRG      3             BRAGANÇA        NaN
32       1        51        TIR      3           TIRADENTES        NaN
33       1        52        CAT      3               CATUAI        NaN
34       1        55        PRU      3  PRESIDENTE PRUDENTE        NaN
35       1        56        CLI      3          CAMPO LIMPO        NaN
36       1        64        SAN      3               SANTOS        NaN
37       1        66        RAP      3               RAPOSO        NaN
38       1        72        SCA      3           SÃO CARLOS        NaN

In [143]:
afastados=afastados[afastados['LOJA'].isin(lojas_tina['sigla_loja'])].copy(deep=True)

In [144]:
len(afastados['LOJA'].unique())

39

In [145]:
afastados['DATA_ADMISSAO']=pd.to_datetime(afastados['DATA_ADMISSAO'], format="%d/%m/%Y")

In [146]:
afastados['DATA_AFASTAMENTO']=pd.to_datetime(afastados['DATA_AFASTAMENTO'], format="%d/%m/%Y")

In [147]:
afastados['DATA_RETORNO']=np.where(afastados['DATA_RETORNO']=='', np.nan,afastados['DATA_RETORNO'])
afastados['DATA_RETORNO']=pd.to_datetime(afastados['DATA_RETORNO'], format="%d/%m/%Y")

In [148]:
#  Função para calcular os dias ADMITIDOS dentro do período apurado
def admitidos_no_mes(data_admissao):
    global DATA_I, DATA_F
    if data_admissao > DATA_F:
        dias_admitidos = 0
    elif data_admissao <= DATA_I :
        dias_admitidos=DATA_F.day
    else:
        dias_admitidos=(DATA_F-data_admissao).days+1
    return dias_admitidos

In [149]:
# CALCULANDO QUANTOS DIAS O FUNCIONÁRIO ESTÁ ADMITIDO NO MÊS DA APURAÇÃO
afastados['DIAS_ADMITIDOS']=afastados['DATA_ADMISSAO'].apply(
    lambda x: admitidos_no_mes(x)
    ).copy()

In [150]:
# INCLUINDO INFORMAÇÃO SE O COLABORADOR ESTÁ ADMITIDO HÁ MAIS DE 15 DIAS DO PERÍODO DE APURAÇÃO
afastados['MAIS_DE15DIAS_ADMITIDOS']=np.where(afastados['DIAS_ADMITIDOS']>=MEIO_MES,"SIM", "NAO")

In [151]:
# Elimina espaços em branco dos CARGOs dos funcionários 
afastados['CARGO']=afastados['CARGO'].apply(
    lambda x: x.strip()
)
# CHECAGEM
afastados['CARGO'].unique()

array(['Enc Depósito', 'Ger Geral I', 'Vendedor(a) Televendas',
       'Anl Contábil Pl', 'Vendedor(a)', 'Coord Categoria',
       'Ger Operacional II', 'Ass Manut Serv Gerais', 'Ger Geral II',
       'Assessor de Operações I', 'Anl Financeiro Jr', 'Ass Fiscal Sr',
       'COMPRADOR ADM PL', 'Assessor de Operações II', 'Ass Financeiro',
       'Ass Recebimento', 'Enc de Caixa', 'Ass Departamento Pessoal',
       'Anl Financeiro Pl', 'Sup Operacional',
       'COORD TECNOLOGIA DA INFORMACAO', 'Dir Vendas e Operações',
       'Ger de Vendas I', 'ASSESSOR DE LOJA', 'Lider de Caixa',
       'Repositor(a)', 'Oficial Manutenção Eletricista', 'Conferente',
       'Ass Financeiro Sr', 'Enc Manutenção', 'Operador Empilhadeira',
       'Anl Funcional SAP PL', 'Gerente de Preços', 'Aux Manutenção',
       'Enc de Produto', 'Ass Recursos Humanos', 'Ger de Informática',
       'Sup de Vendas', 'Ass Serviços ao Cliente', 'Ger Regional I',
       'Ger Categorias', 'Anl Infraestrut Pl', 'Anl Funcional SAP Sr',
       'Anl Abastecimento Pl', 'Anl Mídias Sociais Jr',
       'GERENTE COMERCIAL', 'GER REGIONAL', 'Ass de Expedição',
       'Sup de Produto', 'Ass Recebimento Fiscal',
       'Técnico Seguranca Trabalho Sr', 'Vendedor(a) Especialista',
       'Anl Gestão Compras Pl', 'Ass Prevenção de Perdas',
       'Anl Abastecimento Sr', 'Ger Operacional I',
       'GERENTE DE RELACIONAMENTO E PRODUTO', 'Ger Geral III',
       'Ger de Produto II', 'Coord de Serviços', 'Coord de EHS',
       'Gerente Adm Financeiro', 'Médico do Trabalho',
       'ANL RH REGIONAL PL', 'SUP DE RECURSOS HUMANOS',
       'ENC DE OPERACOES', 'Anl Fiscal Pl',
       'COORDENADOR PREVENCAO PERDAS', 'Anl Recebimento Fiscal Jr',
       'Ger de Vendas II', 'Operador(a) Caixa', 'Anl Recursos Humanos Jr',
       'Enc CTN', 'Supervisor Financeiro',
       'SUP CARTOES E SERV FINANCEIROS', 'Ger Recursos Humanos',
       'Sup de Televendas', 'Ass Administrativo', 'ANL RH REGIONAL SR',
       'Coord Fiscal', 'Anl Fiscal Jr', 'COORD CARTOES SERV FINANCEIROS',
       'Ger Regional II', 'Enc Prevenção de Perda',
       'Anl de Importação Sr', 'Sup Administrativo',
       'Ger de Infraestrutura', 'GER CANAIS DIGITAIS',
       'Vendedor(a) Especialista Lider', 'Ger. Qualidade e EHS',
       'COORD PREV E GESTAO DE FRAUDE', 'Dir de Marketing',
       'Anl Recursos Humanos Pl', 'Anl Contábil Sr',
       'Ger Desenvolv. Organizacional', 'Assist Controle Gestão Oper',
       'Técnico de Edificações Sr', 'Enc Serviços ao Cliente',
       'Ger Compras e Importação', 'Especialista de Preço',
       'Ger de Prevencao de Perdas', 'Ger Compras Adm',
       'Anl Serv Merchandising Pl', 'GER GERAL SR',
       'COORD INTELIGENCIA MERCADO', 'Ger Gestão Categorias',
       'Anl Prevenção Perdas Pl', 'Coord Controle Interno',
       'ENC SEGURANCA PATRIMONIAL', 'GER REMUNERACAO E BENEFICIOS',
       'SECRETARIA DIRETORIA', 'Sup Caixa', 'Anl Gestão Compras Jr',
       'Ass Depósito', 'Anl de Logística Jr', 'Dir Adm Financeiro',
       'Ger Televendas', 'Oficial Manutenção', 'Ger de Vendas III',
       'ASSIST RELACOES TRABALHISTAS', 'Coordenador de Merchandising',
       'Dir. Expansão e Novos Negócios', 'Enc SAC',
       'Coord Comunicação Interna', 'Diretor de Informatica',
       'Ger Novos Negocios', 'COORD EXPANSAO',
       'Anl Relacionamento e Operações', 'Gerente Projetos Operações',
       'Ger de Controladoria', 'Gerente de Omnicanalidade',
       'Anl Infraestrut Sr', 'Coord Financeiro(a)', 'COORD DE PROCESSOS',
       'Anl Financeiro Sr', 'ASS ADM TELEVENDAS',
       'Coord Recursos Humanos', 'COORDENADOR DE BI',
       'Coordenador Compras', 'DESIGNER PROJETISTA',
       'Dir Recursos Humanos', 'ANALISTA DE BI SR', 'Coord DHO',
       'Ass Compras e Cadastro', 'Analista de Preços',
       'COORD. MARKETING DE ATIVAÇÃO', 'Anl de Marketing Sr',
       'DIRETOR COMERCIAL', 'SECRETARIA', 'Técnico de Edificações',
       'Ass Fiscal Pl', 'Esp Remuneração e Benefícios', 'Comprador',
       'Anl Infraestrut Jr', 'Coord Recrutamento e Seleção',
       'Coord de Engenharia', 'GERENTE LOGISTICA', 'Atendente de Loja',
       'Gerente Operacional', 'ASSESSOR DE OPERACOES',
       'COORDENADOR CONTABIL', 'GER PROD E SERV FINANCEIROS',
       'Coord de Treinamento', 'Sup deProduto I',
       'Ass Logistico Televenda', 'Supervisor Fiscal',
       'GER DESENV DE SISTEMAS', 'Ger de Produto I', 'Coord de Marketing',
       'ESP DE SEGURANCA DE DADOS', 'Dir de Logística',
       'ANL MARKETING DE ATIVACAO JR', 'Técnico Projetista',
       'Anl Merchandising Sr', 'ESP DE CONTROLE E GESTAO',
       'ASS INFRAESTRUTURA', 'COORD COMUNICACAO', 'Ger Marketing',
       'Ass Compras', 'COORDENADOR DE PROJETOS', 'Coord  Abastecimento',
       'Ass Cadastro Jr', 'Estagiário(a)', 'Analista de Preço Jr',
       'Técnico Seguranca Trabalho Pl', 'Trainee',
       'Coord Compras Administrativas', 'GERENTE REGIONAL',
       'Ger Contr de Gest Operacional', 'Ass Serviço ao Cliente',
       'Analista de Projetos Sr'], dtype=object)

In [152]:
#  Função para calcular os dias de afastamento dentro do período apurado
def afastamento_do_mes(data_afastamento, data_retorno):
    global DATA_I, DATA_F
    if data_afastamento < DATA_I and data_retorno < DATA_I:
        dias_afastados=0
    elif data_afastamento >= DATA_I and data_retorno <= DATA_F:
        dias_afastados=(data_retorno-data_afastamento).days
    elif (data_afastamento < DATA_I or pd.isnull(data_afastamento))  and data_retorno <= DATA_F:
        dias_afastados=(data_retorno-DATA_I).days
    elif data_afastamento >= DATA_I and (data_retorno > DATA_F or pd.isnull(data_retorno)):
        dias_afastados=(DATA_F-data_afastamento).days+1
    elif (data_afastamento < DATA_I or pd.isnull(data_afastamento)) and (data_retorno > DATA_F or pd.isnull(data_retorno)):
        dias_afastados=(DATA_F.day)
    elif (data_afastamento < DATA_I or pd.isnull(data_afastamento)) and (data_retorno < DATA_I):
        dias_afastados=(DATA_F.day-DATA_F.day)
    else:
        print("ERRO")
        dias_afastados=0

    return dias_afastados

In [153]:
# Contando os dias de afastamento para cada período de afastamento considerando o período de apuração
afastados['dias_afastados']=afastados.apply(
    lambda x: afastamento_do_mes(x['DATA_AFASTAMENTO'],x['DATA_RETORNO']), axis=1)

In [154]:
# CHECAGEM
afastados[
    (afastados['DATA_RETORNO']>=DATA_I) # & 
#    (afastados['DATA_ADMISSAO']<=DATA_I)
    ].to_excel(FILE_CHECAGEM_AFASTADOS, index=False)

In [155]:
# SOMANDO OS DIAS AFASTADOS POR MATRÍCULA
dias_afastados_por_matricula=afastados.groupby(
    ['EMPRESA', 'LOJA','MATRICULA', 'NOME']
    )['dias_afastados'].sum().reset_index(name='dias_afastados_totais')

In [156]:
dias_afastados_por_matricula[dias_afastados_por_matricula['dias_afastados_totais']>0]

,EMPRESA,LOJA,MATRICULA,NOME,dias_afastados_totais
0,1,AMZ,14869,LUAN RAFAEL FERREIRA ...,12
1,1,AMZ,15598,JULIANA LINO ROCHA ...,5
2,1,AMZ,23069,MARLOWA CAROLINA DE ANDRADE LEITE ...,17
11,1,AMZ,27414,NATHAN TADEU PEREIRA ROCHA ...,10
13,1,AMZ,27672,NATASHA ORRANA DE OLIVEIRA MAGALHAES ...,30
...,...,...,...,...,...
1911,1,ZNO,26799,FELIPI CARMO RIBEIRO ...,30
1918,1,ZNO,27441,ADRIANA MARIA DE ASSIS ...,4
1927,1,ZNO,28191,HELEN TAMIS BISPO DOS SANTOS ...,3
1928,1,ZNO,28258,JOSE MAURICIO DE OLIVEIRA ...,26
1931,1,ZNO,28782,JOAO VITOR SOARES MARTINS ...,20

In [157]:
# ARQUIVO DE ENTRADA: base de ativos do mês em apuração gerado pela ADP
for file in os.listdir(DIRETORIO_ANTERIOR+'ORIGINAIS/'):
    if file.startswith('wr2b-') & file.endswith('.xlsx'):
        nome_base=file
#F_ATIVOS=DIRETORIO_ENTRA+nome_base
F_ATIVOS=DIRETORIO_ANTERIOR+'ORIGINAIS/'+nome_base
print(F_ATIVOS)

C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/wr2b-111909177.xlsx

In [158]:
# Lendo base de ativos
print("Lendo base de ativos no arquivo:")
print(F_ATIVOS)
#base_ativos = pd.read_excel(F_ATIVOS, header=0) # 
base_ativos = pd.read_excel(F_ATIVOS) #

Lendo base de ativos no arquivo:
C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/wr2b-111909177.xlsx

In [159]:
# Removendo espaços em branco do nome da coluna 
base_ativos.columns = base_ativos.columns.str.strip()

In [160]:
# MANTENDO APENAS A SIGLA DAS LOJAS
base_ativos['Estabelecimento - Nome']=base_ativos['Estabelecimento - Nome'].apply(
    lambda x: x.strip()[-3:]
)

In [161]:
base_ativos=base_ativos[base_ativos['Estabelecimento - Nome'].isin(lojas_tina['sigla_loja'])]

In [162]:
len(base_ativos['Estabelecimento - Nome'].unique())

39

In [163]:
# ELIMINA ESPAÇOS EM BRANCO ANTES E DEPOIS DA DATA
base_ativos['Data da Admissão']=base_ativos['Data da Admissão'].apply(
    lambda x: x.strip()
    )

In [164]:
# Pegando da base de ativos somente parâmetros/colunas necessários 
ativos=base_ativos[[
    'Matrícula', 
    'Nome - Primeiro Nome',
    'Nome - Sobrenome', 
    'Cargo - Nome',
    'Data da Admissão',
    'Situação do Empregado - Status',
    'Estabelecimento - Nome',
    'Centro de Resultado - Código'
    ]].copy(deep=True)

In [165]:
# RENOMEANDO OS PARÂMETROS/COLUNAS DA BASE DE ativos DA esquerda para direita {'ESQUERDA':'DIREITA'}
RENOMEA={
    'Matrícula':'MATRICULA', 
    'Nome - Primeiro Nome':'NOME',
    'Nome - Sobrenome':'SOBRENOME', 
    'Cargo - Nome':'CARGO',
    'Data da Admissão':'DATA_ADMISSAO',
    'Situação do Empregado - Status':'STATUS',
    'Estabelecimento - Nome':'LOJA'
}

ativos.rename(columns=RENOMEA, inplace=True)

In [166]:
# FORMATO DE DATA dd/mm/aaaa
ativos['DATA_ADMISSAO']=pd.to_datetime(ativos['DATA_ADMISSAO'], format='%d/%m/%Y')

In [167]:
# Mantendo apenas colaboradores da loja da MGN, excluindo sede
ativos_nao_MGN=ativos[ativos['LOJA']!='MGN']
# Toda a MGN
ativos_MGN=ativos[ativos['LOJA']=='MGN'].copy(deep=True)
loja_MGN=ativos_MGN[(ativos_MGN['Centro de Resultado - Código']==808568) |
    ((ativos_MGN['Centro de Resultado - Código']>=174000) & 
    (ativos_MGN['Centro de Resultado - Código']<=174999) )  
    ].copy(deep=True)

In [168]:
# JUNTANDO BASE DE ATIVOS SOMENTE DAS LOJAS e a LOJA DA MARGINAL
ativos_lojas=pd.concat([ativos_nao_MGN, loja_MGN], ignore_index=True)

In [169]:
tina=ativos_lojas

In [170]:
#  Função para calcular os dias ADMITIDOS dentro do período apurado
def admitidos_no_mes(data_admissao):
    global DATA_I, DATA_F
    if data_admissao > DATA_F:
        dias_admitidos = 0
    elif data_admissao <= DATA_I :
        dias_admitidos=DATA_F.day
    else:
        dias_admitidos=(DATA_F-data_admissao).days+1
    return dias_admitidos

In [171]:
# CALCULANDO QUANTOS DIAS O FUNCIONÁRIO ESTÁ ADMITIDO NO MÊS DA APURAÇÃO
tina['DIAS_ADMITIDOS']=tina['DATA_ADMISSAO'].apply(
    lambda x: admitidos_no_mes(x)
    ).copy()

In [172]:
# INCLUINDO INFORMAÇÃO SE O COLABORADOR ESTÁ ADMITIDO HÁ MAIS DE 15 DIAS DO PERÍODO DE APURAÇÃO
tina['MAIS_DE15DIAS_ADMITIDOS']=np.where(tina['DIAS_ADMITIDOS']>=MEIO_MES,"SIM", "NAO")

In [173]:
# LIMBANDO ESPAÇOS EM BRANCO DO STATUS
tina['STATUS']=tina['STATUS'].apply(
    lambda x: x.strip()
    )

In [174]:
# Elimina espaços em branco dos CARGOs dos funcionários 
tina['CARGO']=tina['CARGO'].apply(
    lambda x: x.strip()
)
# CHECAGEM
tina['CARGO'].unique()

array(['Enc Depósito', 'Ger Geral I', 'Ger Operacional II',
       'Ass Manut Serv Gerais', 'Ger Geral II', 'Vendedor(a)',
       'Assessor de Operações II', 'Enc de Caixa', 'Sup Operacional',
       'Repositor(a)', 'Conferente', 'Operador Empilhadeira',
       'Aux Manutenção', 'Sup de Vendas', 'Ger de Vendas I',
       'Ass Serviços ao Cliente', 'Ass Recebimento',
       'Assessor de Operações I', 'ASSESSOR DE LOJA', 'Ass de Expedição',
       'Sup de Produto', 'Vendedor(a) Especialista', 'Enc de Produto',
       'Enc SAC', 'Operador(a) Caixa', 'Lider de Caixa',
       'Ger Operacional I', 'Ger Geral III', 'Ger de Produto II',
       'ANL RH REGIONAL PL', 'Enc CTN', 'Ass Prevenção de Perdas',
       'Enc Prevenção de Perda', 'Sup Administrativo',
       'Vendedor(a) Especialista Lider', 'Ger de Vendas II',
       'Ass Depósito', 'Oficial Manutenção Eletricista',
       'Ger de Vendas III', 'Atendente de Loja', 'Vendedor(a) Projetista',
       'DESIGNER PROJETISTA', 'Ger de Produto I', 'Anl de Logística Jr',
       'Gerente Operacional', 'Sup deProduto I',
       'Técnico Seguranca Trabalho Pl', 'Menor Aprendiz',
       'Ass Serviço ao Cliente', 'Consultor de Vendas Externas',
       'Estagiário(a)', 'Ass Departamento Pessoal', 'ENC DE OPERACOES',
       'Enc Serviços ao Cliente', 'Ass Administrativo', 'GER GERAL SR',
       'Sup Caixa', 'ASSESSOR DE OPERACOES', 'Técnico Projetista'],
      dtype=object)

In [175]:
# INCLUINDO ELEGIBILIDADE DA LOJA
tina['LOJA_ELEGIVEL']=np.where(tina['LOJA'].isin(lojas_elegiveis['sigla_loja']),'SIM','NAO')

In [176]:
tina

,MATRICULA,NOME,SOBRENOME,CARGO,DATA_ADMISSAO,STATUS,LOJA,Centro de Resultado - Código,DIAS_ADMITIDOS,MAIS_DE15DIAS_ADMITIDOS,LOJA_ELEGIVEL
0,27,NILTON,DOS SANTOS,Enc Depósito,1991-06-01,ATIVO,ARI,244406,30,SIM,NAO
1,84,ALEXANDRE,POLONI,Ger Geral I,1993-03-11,ATIVO,PAR,304401,30,SIM,NAO
2,382,BIANCA,SILVA,Ger Operacional II,1996-03-04,ATIVO,GRU,324401,30,SIM,NAO
3,454,JOSE,SERIGATTI,Ass Manut Serv Gerais,1996-06-03,ATIVO,GRU,324402,30,SIM,NAO
4,472,MARCELO,DE ARAUJO,Ger Geral II,1996-06-03,ATIVO,PGD,124401,30,SIM,NAO
...,...,...,...,...,...,...,...,...,...,...,...
1975,29763,JULIO,DE MELLO,ASSESSOR DE LOJA,2022-03-14,ATIVO,MGN,174402,30,SIM,NAO
1976,29834,ALINE,NASCIMENTO,Sup de Vendas,2022-04-18,ATIVO,MGN,174401,13,NAO,NAO
1977,29833,ELIANE,MAURO,Sup de Vendas,2022-04-18,ATIVO,MGN,174401,13,NAO,NAO
1978,29855,ADRIANO,DA PAZ,ASSESSOR DE LOJA,2022-05-02,ATIVO,MGN,174402,0,NAO,NAO
1979,29860,LEONEL,FREEMAM JUNIOR,ASSESSOR DE LOJA,2022-05-02,ATIVO,MGN,174402,0,NAO,NAO

In [177]:
# INCLUINDO DIAS AFASTADOS TOTAIS DA MATRÍCULA
tina_afastados=pd.merge(
    tina,
    dias_afastados_por_matricula[
        ['MATRICULA','dias_afastados_totais']
        ],
        how='left',
        on=['MATRICULA']
        )

In [178]:
# PREENCHENDO COM ZERO ATIVOS SEM AFASTAMENTOS
tina_afastados['dias_afastados_totais'].fillna(0, inplace=True)

In [179]:
tina_afastados

,MATRICULA,NOME,SOBRENOME,CARGO,DATA_ADMISSAO,STATUS,LOJA,Centro de Resultado - Código,DIAS_ADMITIDOS,MAIS_DE15DIAS_ADMITIDOS,LOJA_ELEGIVEL,dias_afastados_totais
0,27,NILTON,DOS SANTOS,Enc Depósito,1991-06-01,ATIVO,ARI,244406,30,SIM,NAO,0.0
1,84,ALEXANDRE,POLONI,Ger Geral I,1993-03-11,ATIVO,PAR,304401,30,SIM,NAO,2.0
2,382,BIANCA,SILVA,Ger Operacional II,1996-03-04,ATIVO,GRU,324401,30,SIM,NAO,0.0
3,454,JOSE,SERIGATTI,Ass Manut Serv Gerais,1996-06-03,ATIVO,GRU,324402,30,SIM,NAO,0.0
4,472,MARCELO,DE ARAUJO,Ger Geral II,1996-06-03,ATIVO,PGD,124401,30,SIM,NAO,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1975,29763,JULIO,DE MELLO,ASSESSOR DE LOJA,2022-03-14,ATIVO,MGN,174402,30,SIM,NAO,0.0
1976,29834,ALINE,NASCIMENTO,Sup de Vendas,2022-04-18,ATIVO,MGN,174401,13,NAO,NAO,0.0
1977,29833,ELIANE,MAURO,Sup de Vendas,2022-04-18,ATIVO,MGN,174401,13,NAO,NAO,0.0
1978,29855,ADRIANO,DA PAZ,ASSESSOR DE LOJA,2022-05-02,ATIVO,MGN,174402,0,NAO,NAO,0.0
1979,29860,LEONEL,FREEMAM JUNIOR,ASSESSOR DE LOJA,2022-05-02,ATIVO,MGN,174402,0,NAO,NAO,0.0

In [180]:
# CALCULANDO DIAS ATIVOS NO PERÍODO DE APURAÇÃO CONSIDERANDO A DATA DE ADMISSÃO
tina_afastados['DIAS_ATIVOS']=tina_afastados['DIAS_ADMITIDOS']-tina_afastados['dias_afastados_totais']

In [181]:
tina_afastados['MAIS_DE15DIAS_ATIVOS']=np.where(
    tina_afastados['DIAS_ATIVOS']>=MEIO_MES, 'SIM','NAO'
    )

In [182]:
# Lendo faltas injustificadas dos colaboradores
print("Lendo faltas injustificadas do arquivo:")
print(F_FALTAS_MES_ANTERIOR+' tem ocorrências do dia 01 até 15 do mês anterior.')
print(F_FALTAS+' tem ocorrências do dia 16 do mês anterior até 15 do mês atual.')
faltas_inj = pd.read_excel(F_FALTAS, header=0) # Tem ocorrências do dia 16 do mes anterior até 15 do mes atual. Vou pegar somente do 16 ao final do mês anterior.
faltas_mes_anterior=pd.read_excel(F_FALTAS_MES_ANTERIOR, header=0) # para pegar as ocorrências do dia 01 até o dia 15 do mês anterior

Lendo faltas injustificadas do arquivo:
C:/apuracao/TELHANORTE/2022/abr/ORIGINAIS/PREMIACOES TINA.xlsx tem ocorrências do dia 01 até 15 do mês anterior.
C:/apuracao/TELHANORTE/2022/mai/ORIGINAIS/PREMIACOES TINA.xlsx tem ocorrências do dia 16 do mês anterior até 15 do mês atual.

In [183]:
# Juntando as bases do mês passado e delimitando para o período de apuração
todas_faltas=pd.concat([faltas_mes_anterior, faltas_inj], axis=0)
faltas = todas_faltas[(todas_faltas['DATA DA OCORRÊNCIA'] >= DATA_I) &
           (todas_faltas['DATA DA OCORRÊNCIA'] <= DATA_F)].copy()
faltas['DATA DA OCORRÊNCIA'].sort_values()

132   2022-04-01
66    2022-04-01
237   2022-04-01
77    2022-04-01
93    2022-04-01
         ...
288   2022-04-30
302   2022-04-30
11    2022-04-30
227   2022-04-30
37    2022-04-30
Name: DATA DA OCORRÊNCIA, Length: 303, dtype: datetime64[ns]

In [184]:
# Renomeando a coluna da MATRICULA nas faltas 
faltas.rename(columns={'MATR EMPR':'MATRICULA'}, inplace=True)

In [185]:
# PARA RENOMEAR PARÂMETROS DE ALVO E NPS E INCLUIR NA PLANILHA DE CHECAGEM
RENOMEA={
    'sigla_loja':'LOJA',
    'alvo':'ALVO_ALCANCADO',
    'nps':'NPS'
    }

In [186]:
# Mantendo apena Telhanorte
# Para alterar para TUMELERO: ALTERAR O SINAL PARA >
empresa_nps_venda_alvo=loja_nps_venda_alvo[loja_nps_venda_alvo['cod_loja']<510000]

In [187]:
# PREPARANDO PLANILHA DE CHECAGEM
tina_tudo=pd.merge(
    tina_afastados,
    loja_nps_venda_alvo[['sigla_loja', 'alvo','nps']].rename(columns=RENOMEA),
    how='left',
    on='LOJA'
    )

In [188]:
tina_copia=tina_tudo

In [189]:
# CARREGANDO TODOS OS CARGOS CONTEMPLADOS PELA PREMIAÇÃO COLETIVA
cargos=pd.read_csv(F_CARGOS, sep=';')

In [190]:
# ATRIBUINDO O GRUPO DE PREMIAÇÃO PARA CADA CARGO
tina_tudo=pd.merge(
    tina_tudo, 
    cargos.rename(columns={'Cargo':'CARGO'}),
    how='left',
    on='CARGO'
    )

In [191]:
# Grupos sem cargo atribuido como "NAO TINA"
tina_tudo['Grupo'].fillna('NAO TINA', inplace=True)

In [192]:
# Função para atribuir valor da premiação dependendo do grupo de cargo
def premiacao_alvo(grupo,alvo):
    global PREMIOS
    alvo1 = dict(zip(PREMIOS['Grupo'], PREMIOS['ALVO1']))
    alvo2 = dict(zip(PREMIOS['Grupo'], PREMIOS['ALVO2']))
    if alvo == 'ALVO1':
        valor=alvo1[grupo]
    elif alvo == 'ALVO2':
        valor=alvo2[grupo]
    elif alvo == 'NAO':
        valor = 0.0
    else: valor=0.0
    return valor

In [193]:
# Atribuindo valor da premiação dependendo do grupo de cargo
tina_tudo['PREMIACAO']=tina_tudo.apply(
    lambda x: premiacao_alvo(
        x['Grupo'],x['ALVO_ALCANCADO'],
    ), axis=1)

In [194]:
# Inclui coluna para checar se colaborador tem faltas injustificadas
tina_tudo['FALTAS']=np.where(tina_tudo['MATRICULA'].isin(faltas['MATRICULA']),'SIM','NAO')

In [195]:
tina_tudo['APTO_PREMIACAO']=np.where(
    (tina_tudo['LOJA_ELEGIVEL']=='SIM') &
        (tina_tudo['MAIS_DE15DIAS_ATIVOS']=='SIM') &
        (tina_tudo['FALTAS']=='NAO') &
        (tina_tudo['Grupo']!='NAO TINA') &
        (tina_tudo['PREMIACAO']>0),
        'SIM','NAO'
    )

In [196]:
#Salvando verba
# Entradas: v verba, n nome_verba, x numero_verba, f f_nome
def salva_verba(verba,num_verba,arq_nome):
#    v.rename(columns={ v.columns[0]: 'MATRICULA'}, inplace=True)
    verba.rename(columns={ verba.columns[1]: "VALOR" }, inplace=True)
    verba['ZERO'] = 0
    verba['VERBA'] = num_verba
    verba=verba[['MATRICULA', 'ZERO', 'VERBA','VALOR']]
    verba = verba[verba['VALOR'] > 0]
    # Saving as a excel file for RH
    verba.to_excel(arq_nome, sheet_name="VERBA "+str(num_verba), index=False)

In [197]:
# Salva verba apuração coletiva
salva_verba(
    tina_tudo[['MATRICULA', 'PREMIACAO']][
        (tina_tudo['LOJA_ELEGIVEL']=='SIM') &
        (tina_tudo['MAIS_DE15DIAS_ATIVOS']=='SIM') &
        (tina_tudo['FALTAS']=='NAO')
    ].copy(),4117,FILE_SAI)

In [198]:
# Salva verba apuração coletiva
salva_verba(
    tina_tudo[['MATRICULA', 'PREMIACAO']][
        (tina_tudo['LOJA_ELEGIVEL']=='SIM') &
        (tina_tudo['MAIS_DE15DIAS_ATIVOS']=='SIM')
    ].copy(),4117,FILE_SAI_SEM)

In [199]:
# SALVA PLANILHA DE CHECAGEM
tina_tudo.to_excel(FILE_CHECAGEM, index=False)